.details {
	&__section {
		ul {
			padding: 0;
			margin: 0;
		}
		.container-checkbox__details {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;
			font-size: 8pt;
			border-top: 1px solid $color-border;

			.checkbox-item {
				width: 100%;
				margin: 0;
				padding: 10px 25px;
				line-height: 2.6em;

				&__action {
					display: none;
					justify-content: space-around;
					flex: 0 0 40px;
					span {
						cursor: pointer;
						color: $color-primary;
					}
				}

				&:hover {
					.checkbox-item__action {
						display: flex;
					}
				}
			}

			&:last-child {
				border-bottom: 1px solid $color-border;
			}
		}
	}

	&__subtask-stats {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 40px;
		font-size: 9pt;
	}

	&__subtask-action {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 25px;
		font-size: 9pt;
		color: $color-primary;
		span {
			cursor: pointer;
		}
	}
}
