@import "frame/index";
@import 'modal/delete-modal';
@import 'modal/preset-modal';
@import 'modal/file-check-modal';
@import "table";
@import "preview";
@import "task-detail";
@import "new-task";
.content__task-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    overflow-y: hidden;
}

.container__task-panel {
    height: 100%;
    overflow-y: overlay;
    box-sizing: border-box;
    transform: translateZ(0);
    &--with-preview {
        margin-bottom: 292px + 59px;
        @media screen and (max-height: 749px + 59px) {
            margin-bottom: 0;
        }
    }
}

.win .container__task-panel {
    &--with-preview {
        @media screen and (max-height: 749px + 59px) {
            height: 319px
        }
    }
}

.mac .container__task-panel,
.linux .container__task-panel {
    &--with-preview {
        @media screen and (max-height: 749px + 59px) {
            height: 342px
        }
    }
}
