@import "frame/index";
@import 'modal/delete-modal';
@import 'modal/preset-modal';
@import 'modal/file-check-modal';
@import "table";
@import "preview";
@import "task-detail";
@import "new-task";
.content__task-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.container__task-panel {
    height: 100%;
    overflow-y: overlay;
    box-sizing: border-box;
    &--with-preview {
        margin-bottom: 290px;
        @media screen and (max-height: 723px) {
            margin-bottom: 0;
            height: 317px;
        }
    }
}
