.section__preview {
    background: #444;
    height: 350px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    @media screen and (max-height: 725px) {
        //<-- HARDCODED //TO DO should get Table height on JS part to make it clear 
        //or another CSS solution like flex
        top: 376px;
    }
    &-black {
        background: #000;
        height: 350px;
    }
    img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        box-sizing: border-box;
    }
    .button__expand {
        float: right;
        margin: 20px;
        font-size: 22pt;
        cursor: pointer;
        color: $color-text4;
    }
}
