.section__preview-black {
        position: relative;
        background: #000;
        height: 250px;

    .preview__img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        transition: .5s transform;
    }

    .details__preview{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s background;
        z-index: 2;

        &:hover{
            background: rgba(0, 0, 0, 0.3);

            .btn{
                opacity: 1;
            }

            ~ .preview__img{
                transform: scale(0.9);
            }
        }

        .btn{
            opacity: 0;
            transition: .5s all;

            &--details{
                border-color: $color-text4;
                font-size: 10pt;
                padding: 0 15px;
            }
        }
    }

    // .button__expand {
    //     position: absolute;
    //     z-index: 20;
    //     right: 30px;
    //     top: 30px;
    //     font-size: 22pt;
    //     cursor: pointer;
    //     color: $color-text4;
    //     text-shadow: 1px 1px 2px black;
    //     z-index: 3 !important;
    // }
}
