.section__preview {
    background: #444;
    height: 350px;
    width: 100%;
    position: fixed;
    bottom: 59px;
    z-index: -1;
    left: 0;
    box-sizing: border-box;
    @media screen and (max-height: 749px + 59px) {
        top: 400px;
    }
    &-black {
        background: #000;
        height: 350px;
    }
    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    // .button__expand {
    //     position: absolute;
    //     z-index: 20;
    //     right: 30px;
    //     top: 30px;
    //     font-size: 22pt;
    //     cursor: pointer;
    //     color: $color-text4;
    //     text-shadow: 1px 1px 2px black;
    //     z-index: 3 !important;
    // }
}
