.section__table {
    width: 100%;
    .task-list {
        .task-item {
            position: relative;
            height: 49px;
            padding: 15px 20px;
            border-bottom: 1px solid $color-text3;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: .5s all;
            .info__task-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .task-icon {
                margin-right: 25px;
                background: #f5f5f5;
                padding: 8px;
                border-radius: 50px;
                font-size: 18pt;
            }
            .icon-luxrender {
                color: #f4ca1b;
            }
            h4 {
                font-weight: 400;
                margin: 0;
                font-size: 11pt !important;
                line-height: 1.5em;
            }
            .duration {
                font-size: 8.5pt;
                &--active {
                    color: $button-static-color;
                }
                &--done {
                    color: $color-text3;
                }
            }
            /*.badge {
                float: right;
                background: #ccc;
                border-radius: 5px;
                color: #444;
                padding: 5px;
                font-size: 8pt;
                margin-top: -12px;
                margin-right: 50px;
                box-sizing: border-box;
            }*/
            .icon-trash,
            .icon-arrow-right {
                box-sizing: border-box;
                font-size: 14pt;
                color: $color-text3;
            }
            .icon-trash {
                visibility: hidden;
                margin-right: 25px;
                transition: .5s color;
                &:hover {
                    color: $color-text;
                }
            }
            &:hover .icon-trash {
                visibility: visible;
            }
            &:active {
                border-left: 5px solid $button-static-color;
            }
        }
    }
}

.wrapper-task-item {
    background: $color-text4;
    &:hover {
        background: $color-bg2;
    }
}
