@mixin flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content__onboarding {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $color-text4;
    z-index: 99999 !important;
}

.container-step__onboarding {
    @include flex;
    .welcome-beta {
        justify-content: center;
    }
}

.section-image__onboarding {
    width: 100%;
    flex: 0 0 288px;
    background: $color-bg2;
    text-align: center;
    @include flex;
    justify-content: flex-end;
    .welcome-image {
        margin-bottom: 30px;
    }
    .doc-image {
        width: 100%;
    }
}

.nickname-area__onboarding {
    height: 30px !important;
    border-left: 1px solid $button-static-color;
    margin: 24px 0 10px 0;
    @include flex;
    ::-webkit-input-placeholder {
        color: #000;
    }
}

.nickname-input__onboarding {
    width: 100%;
    border: 0;
    background: $color-bg;
    color: #000;
    font-size: 16pt;
    text-align: center;
}

.desc__onboarding {
    @include flex;
    flex: 0 0 250px;
    padding: 0 70px;
    font-size: 14pt;
    font-weight: 400;
    text-align: center;
    line-height: 1.3em;
}

.desc__port {
    mark {
        padding: 2px;
    }
    font-size: 10pt;
    margin-top: 10px;
}

.step-control__onboarding {
    position: relative;
    top: -30px;
    font-size: 14pt;
    font-weight: 400;
    margin-left: 32px;
    @include flex;
    .icon-arrow-left-white,
    .icon-arrow-right-white {
        position: relative;
        top: 11.5px;
        font-size: 32pt;
        cursor: pointer;
    }
}

.container-checkbox__onboarding {
    overflow-y: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .checkbox-item {
        width: 70%;
        text-align: left;
        height: 50px;
        [class^="icon-"],
        [class*=" icon-"] {
            font-size: 24pt;
        }
    }
    .radio-label {
        left: 0;
    }
}
