@import "steps/welcome";
@import "steps/terms";
@import "steps/node-name";

@mixin flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

mark {
    background-color: $color-mark !important;
}

.content__onboarding {
    @include flex;

    position: absolute;
    width: 100%;
    height: 100%;
    background: $color-text4;
    z-index: 99999 !important;
    box-sizing: border-box;

    h1 {
        color: $color-primary;
        margin: 0 0 30px 0;
        font-size: 1.8em;
    }

    .information-band__onboarding {
        position: absolute;
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 8pt;
        top: -50;
        z-index: 999;
        text-align: center;
        background: #f5a623;
        color: $color-text4;
        transition: 0.5s all;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;

        .content-information {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .icon-warning {
            display: inline;
            background: none;
            font-size: 18pt;
            width: 30px;
        }

        .icon-close {
            margin: 12px;
            font-size: 12pt;
            cursor: pointer;
        }

        &.show {
            top: 0;
        }
    }
}

.container-step__onboarding {
    @include flex;

    .welcome-beta {
        justify-content: center;
    }
}

.section-image__onboarding {
    position: relative;
    margin-top: 20px;
    height: 40vh;
    width: 100%;
    text-align: center;
    transition: 0.5s all;

    @include flex;

    justify-content: flex-end;

    .welcome-image,
    .chain-image {
        margin-bottom: 30px;
        width: 160px;
        transition: 1s all;
    }

    .doc-image {
        width: 100%;
        transition: 1s all;
    }
}

.mark--chain {
    font-size: 9pt;
    line-height: 1.6;
}

.info__print {
    display: block;
    font-size: 10pt;
    line-height: 1.4;
    margin-top: 4vh;
}

.btn--print {
    width: 150px;
}

.btn__skip {
    text-align: center;
    text-decoration: underline;
    font-size: 9pt;
    margin-top: 30px;
    cursor: pointer;
}

.btn--last {
    margin-top: 4px;
}

.desc__onboarding {
    width: 100%;
    margin-top: 8vh;
    padding: 0 50px;
    font-size: 10pt;
    font-weight: 600;
    text-align: left;
    line-height: 1.5em;
    box-sizing: border-box;
    transition: 0.5s all;

    .radio-item {
        label {
            position: relative;
            font-size: 8pt;
            &:before {
                top: -1px !important;
                margin-right: 0.5em !important;
            }
        }
    }

    .container__register {
        width: 100%;
    }

    #passwordForm {
        margin-top: 0;
        transition: 0.5s all;
    }

    .info__register {
        height: 14vh;
        transition: 0.5s all;
    }

    form {
        width: 100%;

        label {
            display: inline-block;
            font-size: 12pt;
            margin-bottom: 10px;
        }

        input {
            display: block;
            width: 100%;
            padding: 0 10px;
            font-size: 18px;
        }

        input[type="text"] {
            font-size: 14px;
        }

        .icon-eye {
            position: absolute;
            right: 10px;
            bottom: 8px;
            font-size: 14pt;
            z-index: 4;
            cursor: pointer;
            color: $color-text3;
            &.active {
                color: $color-text;
            }
        }

        .container__field {
            position: relative;
            margin: 20px 0;
        }

        .error-info {
            position: absolute;
            right: 0;
            color: $color-error;
            font-size: 8pt;
        }
    }
    .ReactPasswordStrength {
        border: 0 !important;
    }

    .passwordField {
        height: 34px;
        input {
            height: 32px;
        }
        .ReactPasswordStrength-strength-desc {
            width: 150px;
            top: 20px;
            font-size: 9pt;
            text-align: right;
            padding-right: 0;
            font-style: normal;
        }

        .ReactPasswordStrength-strength-bar {
            top: -1;
        }
    }

    .password_confirmed {
        border-bottom: 2px solid $color-accent1;
    }

    .password_not_confirmed {
        border-bottom: 2px solid $color-error;
    }

    .container-icon {
        padding: 25px 0;
        flex: 0 0 40px;
    }

    .icon-lock {
        display: inline-block;
        color: $color-text4;
        background: $color-accent2;
        font-size: 2.6em;
        width: 1em;
        height: 1em;
        line-height: 0.9em;
        padding: 0.3em;
        text-align: center;
        border-radius: 50%; /* or 50% width & line-height */
    }
}

.desc__print {
    transition: 0.5s all;
    font-size: 14pt;
}

.step-control__onboarding {
    display: block;
    width: 100%;
    font-size: 14pt;
    font-weight: 400;
    box-sizing: border-box;
    margin-bottom: 40px;

    @include flex;

    .step-placeholder {
        display: inline-block;
        width: 42.66px;
    }

    .icon-arrow-left-small,
    .icon-arrow-right-small {
        position: relative;
        top: 11.5px;
        font-size: 32pt;
        cursor: pointer;
    }

    .btn {
        position: relative;
        top: 10px;
        cursor: pointer;
    }

    .btn--cancel {
        position: relative;
        top: 10px;
        font-size: 10pt;
        font-weight: 500;
        padding: 0 30px;
    }
}

.container-checkbox__onboarding {
    overflow-y: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .checkbox-item {
        width: 70%;
        text-align: left;
        height: 50px;

        [class^="icon-"],
        [class*=" icon-"] {
            font-size: 24pt;
        }
    }

    .radio-label {
        left: 0;
    }
}

.pageSwap-leave {
    transform: translate3d(0, 0, 0);
}

.pageSwap-leave.pageSwap-leave-active {
    transform: translate3d(-100%, 0, 0);
    transition: all ease-out 600ms;
}

.pageSwap-enter {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: translate3d(100%, 0, 0);
}

.pageSwap-enter.pageSwap-enter-active {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: all ease-out 600ms;
}

.pageSwapBack-leave {
    transform: translate3d(0, 0, 0);
}

.pageSwapBack-leave.pageSwapBack-leave-active {
    transform: translate3d(100%, 0, 0);
    transition: all ease-out 600ms;
}

.pageSwapBack-enter {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: translate3d(-100%, 0, 0);
}

.pageSwapBack-enter.pageSwapBack-enter-active {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: all ease-out 600ms;
}

/*MEDIA*/

@media screen and (max-height: 720px) {
    .section-image__onboarding {
        .welcome-image,
        .chain-image {
            width: 120px;
        }
    }

    .desc__onboarding {
        font-size: 8pt;
        line-height: 1.6;
        margin-top: 10vh;
    }

    .info__register {
        margin-top: -20px;
        font-size: 0;
        height: 0.5vh !important;
        line-height: 1.2;
    }

    #passwordForm {
        margin-top: 60px !important;
    }

    .desc__print {
        font-size: 10pt;
        line-height: 1.2;
    }
}

.mac,
.linux {
    .information-band__onboarding {
        padding-left: 70px;
    }
}
