@mixin flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.nickname-area__onboarding {
    box-sizing: border-box;
    margin: 7vh 0 10px 0;

    @include flex;
}

.nickname-input__onboarding {
    width: 250px !important;
    height: 32px;
    border: 1px solid rgba(0,0,0,0.1);
    color: #000;
    font-size: 16pt;
    box-sizing: border-box;
    text-align: center;

    &::-webkit-input-placeholder {
        color: $color-text2 !important; 
        font-size: 10pt;
        font-weight: 300;
    }

    &:focus::-webkit-input-placeholder {
        color: $color-text2 !important; 
        font-size: 10pt;
        font-weight: 300;
    }

    &::-webkit-input-placeholder {
        color: $color-text2;
        text-align: center;
    }

    &:focus{
        &::-webkit-input-placeholder {
            color: transparent;
        }
        animation: 0;
    }

    &:valid {
        border-color: #ccc !important;
    }
}

/*MEDIA*/

@media screen and (max-height: 720px)
{
    .avatar{
        width:100px;
    }
}