.container__terms{
    position: relative;
    text-align: left;
    height: 35vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 15px;
    margin: -40px -20px 30px -20px;
    transition: .5s all;
    font-weight: 300;

    .blur{
        position: sticky;
        width: 100%;
        height: 50px;
    }

    .blur--bottom{
        bottom: -1;
        opacity: 1;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    }
    
    .blur--top{
        top: 0;
        opacity: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }

    li,
    span{
        font-size: 8pt;
        line-height: 1.2;
    }

    li{
        margin: 10px 0;
    }

    

}

.container-step__onboarding{
    .radio-item{
        padding: 10px 0 0 0;
    }

    .terms-image{
        height: 30vh;
        width: 50vh;
        max-height: 280px;
        max-width: 280px;
    }
}

.btn--cancel{
    cursor: pointer;
}

.info__terms{
    font-size: 8pt;
    line-height: 1.4em;
    box-sizing: border-box;
    -webkit-box-decoration-break: clone;
}

/*MEDIA*/

@media screen and (max-height: 760px)
{   
    .win{
        .container__terms{
            height: 150px;
            margin-bottom: 20px;
        }
    }

    .mac, .linux{
        .container__terms{
            height: 140px;
            margin-top: -30px;
        }
    }
    

    .desc_onboarding{
        .radio-item{
            margin: 0;
        }
    }
}