.desc__port {
	display: block;
    font-size: 10pt;
    margin-top: 40px;
    transition: 1s all;

    mark {
        padding: 2px;
    }
}

/*MEDIA*/

@media screen and (max-height: 720px)
{	
    .desc__port {
	    font-size: 8pt;
	    line-height: 1.6;
	}
}