# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# production
dist

# misc
.DS_Store
npm-debug.log
yarn-error.log

# setup folder
golem/golem.sh
golem/license.txt
golem/README.txt

# coverage test
coverage
