@import "indicator";
@import "tabs/resources";
@import "tabs/history";
@import "tabs/advanced";
@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__main {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    box-sizing: border-box;
    text-align: center;
    .section__quick-settings {
        position: relative;
        flex-grow: 1;
        border-bottom: 1px solid $color-text3;
        .tab-panel {
            @include flex;
            height: 45px;
            border-bottom: 1px solid $color-text3;
            .tab__title {
                font-weight: 500;
                color: $color-text3;
                cursor: pointer;
                &.active {
                    color: $color-text;
                }
            }
        }
        .tab__content {
            position: absolute;
            bottom: 0;
            top: 46px;
            width: 100%;
            overflow-y: overlay;
        }
    }
    .section__actions {
        text-align: left;
        width: 100%;
        @include flex;
        box-sizing: border-box;
        z-index: 2;
        flex: 0 0 90px;
        &-status {
            @include flex;
            width: 100px;
            .icon-status-dot {
                font-size: 10pt;
                &--active {
                    color: #37C481;
                }
                &--deactive {
                    color: #F9FCFC;
                }
                &--warning {
                    color: #F65A23;
                }
            }
        }
        // .switch {
        //     position: relative;
        //     display: inline-block;
        //     width: 50px;
        //     height: 25px;
        // }
        // /* Hide default HTML checkbox
        // .switch input {
        //     display: none;
        // }
        // /* The slider
        // .switch-slider {
        //     position: absolute;
        //     cursor: pointer;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        //     background-color: #ccc;
        //     -webkit-transition: .4s;
        //     transition: .4s;
        // }
        // .switch-slider:before {
        //     position: absolute;
        //     content: "";
        //     height: 25px;
        //     width: 25px;
        //     left: 0;
        //     background-color: white;
        //     -webkit-transition: .4s;
        //     transition: .4s;
        // }
        // input:checked + .switch-slider {
        //     background-color: #2196F3;
        // }
        // input:focus + .switch-slider {
        //     box-shadow: 0 0 1px #2196F3;
        // }
        // input:checked + .switch-slider:before {
        //     -webkit-transform: translateX(25px);
        //     -ms-transform: translateX(25px);
        //     transform: translateX(25px);
        // }
        // /* Rounded sliders
        // .switch-slider.round {
        //     border-radius: 34px;
        // }
        // .switch-slider.round:before {
        //     border-radius: 50%;
        // }
        // .switch__desc {
        //     margin-left: 10px;
        // }
    }
}
