@import "indicator";
@import "tabs/resources";
@import "tabs/history";
@import "tabs/advanced";
@import "modal/preset-modal";
@import "modal/manage-preset-modal";

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__main {
    position: relative;
    height: 100%;
    max-height: calc(100% - #{$footer-height});
    display: flex;
    flex-direction: column;
    align-content: space-between;
    box-sizing: border-box;
    text-align: center;
}
