@import "indicator";
@import "tabs/resources";
@import "tabs/history";
@import "tabs/advanced";
@import "modal/preset-modal";
@import "modal/manage-preset-modal";

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__main {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    box-sizing: border-box;
    text-align: center;

    .section__quick-settings {
        @include flex;

        flex-direction: column;
        position: relative;
        flex-grow: 1;
        border-bottom: 1px solid $color-text3;

        .tab-panel {
            @include flex;

            align-self: stretch;
            height: 47px;
            border-bottom: 1px solid $color-text3;

            .tab__title {
                font-weight: 500;
                font-size: 11pt;
                line-height: 1.3em;
                color: $color-text3;
                cursor: pointer;
                transition: .5s all;

                &.active {
                    color: $color-text;
                }
            }
        }

        .tab__content {
            top: 47.5px;
            width: 100%;
            min-height: 0;
            flex: 1 1 calc(100% - 830px);
            overflow-y: overlay;
            transform: translateZ(0);
        }
    }

    .section__actions {
        text-align: left;
        width: 100%;

        @include flex;

        box-sizing: border-box;
        z-index: 2;
        background: $color-text4;
        flex: 0 0 90px;

        &-status {
            @include flex;

            justify-content: flex-start;
            align-content: flex-start;
            font-size: 11pt;
            font-weight: 400;

            .icon-status-dot {
                margin-right: 8px;
                font-size: 10pt;

                &--active {
                    color: #37C481;
                }

                &--deactive {
                    color: #F9FCFC;
                }

                &--warning {
                    color: $color-accent2;
                }
                &--error {
                    color: #F65A23;
                }
            }
        }
    }

    .loading-indicator {
        position: absolute;
        z-index: 9 !important;
        position: absolute;
        bottom: 40px;
        right: 90px;
        width: 0;
        height: 0;
        background: rgba($color-text4, 0.7);
        border-radius: 50%;
        transition: width 2s, height 2s, opacity .1s linear 2s;
        transform: translate(50%, 50%);
        opacity: 0;

        &.active {
            opacity: 1;
            width: 300vh;
            height: 300vh;
            transition: width 2s, height 2s, opacity .1s linear 0s;
        }

        .loading-icon {
            transform: translate(-50%, -80%);
            position: absolute;
            z-index: 10 !important;
            width: 64px;
            height: 64px;
            left: 0;
            right: 0;
            top: 80px;
            margin: auto;
        }
    }
}