.section__currency {
    padding: 26 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background: $display-indicator-backround;
    border-bottom: 1px solid $color-text3;
    flex: 0 0 154px;
    .amount {
        font-size: 34pt;
        cursor: pointer;
    }
    .currency-menu {
        margin: 2px 0 30px 0;
        width: 120px;
        padding: 0;
        font-size: 9pt;
        font-weight: bold;
        color: #bbb;
        cursor: pointer;
        font-weight: 300;
        span {
            display:inline-block;
            min-width: 30px;
            padding: 0 8px;
        }
        .active {
            font-family: $font-family-bold;
            font-weight: 400;
            color: $color-text;
        }
    }
    span:nth-child(1) {
        font-size: 9pt;
        font-weight: 400;
        line-height: 2.4em;
    }

    .currency-info{
        font-size: 9pt;
        position: absolute;
        bottom: 20px;
        color: #bbb;
    }
}

.content__indicator {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
