.content__acl{
	height: 100%;
    font-size: 10pt;

    h4 {
    	margin: 20px 0;
    }

	.no-data {
        width: 100%;
        height: 70px;
        margin-top: 20px;
        text-align: center;
    }
}
