.content__concent{
	@include flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	line-height: 1.8em;
    transition: .5s height;

	height: 360px;
    font-size: 9pt;

    a {
    	font-weight: 400;
    }

    .action__concent{
        @include flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        .btn--outline{
            height: 35px;
            padding: 0 15px;
            transition: all .5s;
        }

        .action-info__concent{
            font-size: 7pt;
            line-height: 1.4em;
        }
    }

    .deposit-info__concent {
        background: $color-bg2;
        width: 100%;
        padding: 20px;
        text-align: left;
        box-sizing: border-box;
        margin-bottom: 20px;
        line-height: 1.5em;
        font-size: 8pt;
        font-weight: 400;

        .timelock__concent{
            font-weight: 600;
        }
    }
    
    .tips__concent {
    	margin: 20px 0;
    }

    .switch__concent {
        @include flex;
        flex-direction: row;
        position: relative;
        justify-content: flex-start;
        padding: 15px 0;
        font-size: 9pt;
        align-self: flex-start;
        margin: 15px 0;

        .switch-box {
            padding: 0 10px 0 0;
            margin: 0 0 3px 0;
        }

        .icon-question-mark{
            position: absolute;
            font-size: 7pt;
            margin-left: 2px;
            top: 10px;
            color: $color-text3;
            cursor: pointer;
        }
    }

    .waiting-response{
        width: 100%;
        display: flex;
        justify-content: center;
        animation: fade 2s steps(5, start) infinite;
    }

    @keyframes fade {
        from { opacity: 1; }
        10% { opacity: .8; }
        20% { opacity: .6; }
        30% { opacity: .4; }
        40% { opacity: .2; }
        50% { opacity: 0; }
        60% { opacity: .2; }
        70% { opacity: .4; }
        80% { opacity: .6; }
        90% { opacity: .8; }
        to { opacity: 1; }
    }
}
