@import "personal";
@import "performance";
@import "price";
@import "trust";
@import "file-location";
@import "geth";
@import "peers";
@import "stats";

$item__accordion-height: 78.7px;

.content__settings {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.section__personal {
    flex: 0 0 342px;
    transition: .8s all;
}

.smaller{
    flex: 0 0 42px;
    margin: 0;
    padding: 20px 0 !important;

    .indicator-panel__personal{
        margin: 0;

        .indicator__personal{
            margin: 0;
        }
    }

    .image__personal{
        max-height: 0;
    }

    .backup-info__personal{
        font-size: 0;
        margin: 0;
    }
 }

.tab__accordion {
    height: 100%;
    position: relative;
    overflow-y: overlay;
    transform: translateZ(0);
}

.item__accordion {
    max-height: 800px;
    transition: .8s max-height;

    &.active {
        & > .item-content__accordion {
            opacity: 1;
            max-height: 800px;
            overflow: overlay;
        }
    }

    &:not(.active){
        max-height: $item__accordion-height;
        transition: .8s max-height;
    }

    .item-title__accordion {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $item__accordion-height;
        cursor: pointer;

        & > span {
            display: block;
            font-weight: 600;
        }
    }

    .item-content__accordion {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: .5s all;
    }

    & + .item__accordion {
        border-top: 1px solid $color-border;
    }
}

.item__accordion:last-child {
    border-bottom: 1px solid $color-border;
}

.footer__settings {
    flex: 0 0 77px;
    width: 100%;
    display: flex;
    line-height: 0.8;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-top: 1px solid $color-border;
    color: $color-text2;
    font-size: 9pt;
}

/*      OS DIFFERENCES
============================= */

.win {
    .item__accordion > div > span {
        padding: 0 $padding-windows;
    }
}

.mac {
    .item__accordion > div > span {
        padding: 0 $padding-mac;
    }
}

.linux {
    .item__accordion > div > span {
        padding: 0 $padding-linux;
    }
}