@import "personal";
@import "performance";
@import "price";
@import "trust";
@import "file-location";
@import "peers";
@import "stats";

$item__accordion-height: 78.7px;

.content__settings {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.section__personal {
    flex: 0 0 292px;
}

.tab__accordion {
    height: 100%;
    position: relative;
    overflow-y: overlay;
    transform: translateZ(0);

    .active {
        height: auto;

        & > .item-content__accordion {
            opacity: 1;
            transition-delay: .2s;
        }
    }
}

.item__accordion {
    height: $item__accordion-height;
    transition: .3s height;

    .item-title__accordion {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $item__accordion-height;

        & > span {
            display: block;
            font-weight: 600;
        }

        span:last-child {
            cursor: pointer;
        }
    }

    .item-content__accordion {
        opacity: 0;
        transition: .5s opacity;
    }

    & + .item__accordion {
        border-top: 1px solid $color-text3;
    }
}

.item__accordion:last-child {
    border-bottom: 1px solid $color-text3;
}

.footer__settings {
    flex: 0 0 77px;
    width: 100%;
    line-height: 77px;
    text-align: center;
    border-top: 1px solid $color-text3;
    color: $color-text2;
    font-size: 9pt;
}

/*      OS DIFFERENCES
============================= */

.win {
    .item__accordion > div > span {
        padding: 0 $padding-windows;
    }
}

.mac {
    .item__accordion > div > span {
        padding: 0 $padding-mac;
    }
}

.linux {
    .item__accordion > div > span {
        padding: 0 $padding-linux;
    }
}