.content__peers {
    .node-info__peers {
        height: 100%;
        margin-top: 20px;

        table {
            width: 100%;
            margin-bottom: 30px;
            border-collapse: collapse;
        }

        th:nth-child(1){
            text-align: left;
        }

        th:nth-child(3){
            text-align: right;
        }

        tr {
            line-height: 30px;
            border-bottom: 1px solid $color-text3;
        }

        td {
            cursor: pointer;
        }

        td:nth-child(1) {
            width: 150px;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            box-sizing: border-box;
            display: block;

            span {
                display: inline-block;
            }
        }

        td:nth-child(2) {
        }

        td:nth-child(3) {
            text-align: right;
        }
    }

    .no-node__peers {
        width: 100%;
        height: 70px;
        margin-top: 20px;
        text-align: center;
    }
}
