@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__performance {
    height: 430px;

    .btn--calculate {
        float: right;
        width: 130px;
        transition: .5s all;
        margin-bottom: 20px;
    }
    .btn--loading {
        width: 160px;
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
    .icon-progress {
        margin-left: 15px;
        margin-top: 2px;
        opacity: 0;
        -webkit-animation: fade 0.5s linear 0.5s;
        animation-fill-mode: forwards;
        &:before {
            display: inline-block;
            transform-origin: 52% 47%;
            -webkit-animation: spin 2s linear infinite;
        }
    }
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(360deg);
        }
        100% {
            -webkit-transform: rotate(0deg);
        }
    }
    @-webkit-keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.list__performance {
    margin-bottom: 20px;
}

.list-item__performance {
    @include flex;
    padding: 10px 0;
    .icon__list-item__acount {
        font-size: 16pt;
        width: 30px;
        color: $color-text2;
    }
    .title__list-item__acount {
        font-size: 10pt;
        flex: 0 0 70px;
        color: $color-text;
        font-weight: 400;
    }
    progress::-webkit-progress-bar {
        background-color: $color-accent3 !important;
        transition: all .5s;
    }
    progress::-webkit-progress-value {
        background-color: $color-accent1 !important;
        width: 100%;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    progress {
        background-color: #fff;
        border: 1px solid $color-accent3;
        border-radius: 50px;
        box-sizing: border-box;
        width: 55%;
        height: 10px;
    }
    .amount__list-item__performance {
        flex: 0 0 32px;
        text-align: right;
        font-weight: bold;
        font-size: 10pt;
    }
}

.content__min-score{
    width: 100%;
    height: 200px;
    @include flex;
    align-items: stretch;
    font-size: 9pt;
    font-weight: 400;
}

.content__min-score{
    margin-top: 30px;
    flex-direction: column;

    .desc__min-score{
        align-self: left;
        margin-bottom: 20px;
    }

    .score__indicator{
        position: relative;
        font-size: 5pt;
        font-variant: small-caps;
        z-index: -1;

        &:before{
            position: absolute;
            content: '|';
            bottom: -10px;
            left: 15px;
        }
    }

    .hint__min-score{
        text-align: center;
        color: $color-text3;
        margin: 25px 0;
    }

    .btn--outline{
        align-self: flex-end;
        transition: .5s all;
    }
}
