@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__personal {
        text-align: center;
        margin: 20px 0 0 0;
        padding-bottom: 20px;
        border-bottom: 1px solid $color-border;

        &-expanded {
        }

        input {
            width: 200px;
            height: 22px !important;
            font-size: 14pt;
            margin: 0;
        }

        .user-name__form {
            & .input__node-name + .toggle__edit-mode,
            &:hover > .toggle__edit-mode {
                display: inline;
            }
        }

        .toggle__edit-mode {
            position: absolute;
            display: none;
            margin-left: 5px;
            font-size: 11pt;
            line-height: 20px;
            cursor: pointer;
        }

        .icon-confirmation {
            margin-left: 5px;
            &:before {
                color: $color-accent1;
            }
        }
    }

.personal {
    &__indicator-panel {
        @include flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        box-sizing: border-box;
        margin-bottom: 25px;
        transition: 0.8s all;
        text-align: left;

        .avatar-container,
        .qrcode-container {
            position: relative;
        }

        .image-holder,
        .qr-holder {
            display: block;
            position: relative;
            width: 60px;
            height: 60px;
        }
    }

    &__information-panel {
        flex: 0 0 50%;
    }

    &__user-name {
        font-size: 14pt;
        font-weight: 600;
    }

    &__user-id {
        position: relative;
        font-size: 11pt;
        font-weight: 400;
        color: $color-text2;
        transition: 0.5s all;
        cursor: pointer;
        &:hover {
            color: $button-hover-color;
        }
        &::before {
            content: 'ID ';
            color: $color-text;
            font-weight: 600;
        }
        .icon-confirmed-empty {
            position: absolute;
            color: $color-accent1;
            right: -25px;
            top: -1px;
            font-size: 14pt;
        }
    }

    &__backup-info {
        display: block;
        font-size: 10pt;
        margin-top: 30px;
        transition: 1s all;
        margin-bottom: 20px;

        u {
            color: $color-text2;

            &:hover {
                color: $color-primary !important;

                strong {
                    color: $color-primary !important;
                }
            }
        }

        strong {
            color: $color-text;
        }
    }

    &__indicator {
        margin-top: 22px;
    }

    &__image,
    &__qrcode {
        position: relative;
        width: 64px;
        height: 64px;
        max-height: 161px;
        max-width: 161px;
        transition: 0.8s all;
        border-radius: 30%;
        cursor: pointer;
        z-index: 2;

        &--border {
            position: absolute;
            top: 0;
            width: 64px;
            height: 64px;
            max-height: 161px;
            max-width: 161px;
            border: 5px solid rgb(white, 0.5);
            box-sizing: border-box;
            border-radius: 30%;
            pointer-events: none;
            z-index: 3;
        }
    }

    &__qrcode {
        transform: scale(1.15);
        border-radius: 50px;
        &--border { 
            z-index: 4;
        }
    }
}
