@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__personal {
    text-align: center;
    margin: 40px 0 0 0;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-border;

    input{
        width: 200px;
        height: 22px !important;
        font-size: 14pt;
        margin: 0;
    }

    .user-name__form{
        & .input__node-name + .toggle__edit-mode,
        &:hover > .toggle__edit-mode {
            display: inline;
        }
    }

    .toggle__edit-mode{
        position: absolute;
        display: none;
        margin-left: 5px;
        font-size: 11pt;
        line-height: 20px;
        cursor: pointer;

    }

    .icon-confirmation {
        margin-left: 5px;
        &:before{
            color: $color-accent1;
        }
    }
}

.indicator-panel__personal {
    @include flex;
    justify-content: space-around;
    box-sizing: border-box;
    margin-bottom: 30px;
    transition: .8s all;
}

.indicator__personal {
    position: relative;
    width: 75px;
    transition: 1s all;
    span {
        line-height: 1.5;
        color: $color-text2;
        font-size: 10pt;
    }
    // .icon-question-mark {
    //     line-height: 0.1;
    //     color: $color-text3;
    //     font-size: 16pt;
    //     cursor: help;
    //     &:hover {
    //         color: $color-text;
    //     }
    // }
}

.user-name__personal {
    font-size: 14pt;
    font-weight: 600;
}

.user-id__personal {
    position: relative;
    font-size: 11pt;
    font-weight: 400;
    color: $color-text2;
    transition: .5s all;
    cursor: pointer;
    &:hover {
        color: $button-hover-color;
    }
    &::before {
        content: 'ID ';
        color: $color-text;
        font-weight: 600;
    }
    .icon-confirmed-empty {
        position: absolute;
        color: $color-accent1;
        right: -25px;
        top: -1px;
        font-size: 14pt;
    }
}

.backup-info__personal{
    display: block;
    font-size: 11pt;
    margin-top: 30px;
    transition: 1s all;

    u{
        color: $color-text2;

        &:hover{
            color: $color-primary !important;

            strong{
                color: $color-primary !important;
            }
        }
    }

    strong{
        color: $color-text;
    }

}

.indicator__personal {
    margin-top: 22px;
}

.avatar-container{
    position: relative;
}

.image__personal {
    position: relative;
    width: 15vh;
    height: 15vh;
    max-height: 161px;
    max-width: 161px;
    transition: .8s all;
    border-radius: 30%;

    &--border{
        position: absolute;
        top: 0;
        width: 15vh;
        height: 15vh;
        max-height: 161px;
        max-width: 161px;
        border: 10px solid rgba(white, 0.5);
        box-sizing: border-box;
        border-radius: 30%;
        transition: .8s all;
    }
}