@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__trust {
    height: 240px;
    .title__slider{
        font-size: 10pt;
        font-weight: 400;
    }
    .slider {
        margin: 15px 0 35px 0;
        .icon-negative {
            margin-top: 3px;
        }
        .icon-positive {
            margin-top: -3px;
        }
    }
}
