@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__trust {
    height: 280px;
    .title__slider{
        font-size: 10pt;
        font-weight: 400;
    }
    .slider {
        margin: 15px 0 35px 0;
        .icon-negative {
            margin-top: 3px;
        }
        .icon-positive {
            margin-top: -3px;
        }
    }
}

.switch__trust {
    @include flex;
    justify-content: center;
    padding: 10px 0 40px 0;
    font-size: 9pt;
    .switch-box {
        padding: 0 20px 0 0;
        margin: 0 0 3px 0;
    }
}

.tips__trust {
    color: $color-text2;
    font-size: 9pt;
    text-align: center;
}
