.content__currency-box {
	display: block;
	min-width: 100px;
	width: 140px;
	min-height: 50px;
	height: 50px;
	border: 0px solid transparent;
	transition: 0.8s all;
	cursor: pointer;
	transition: all 300ms linear;

	.front {
		display: flex;
		flex: 1 1 auto;
		align-items: center;
		justify-content: space-around;
		margin-left: 30px;
	}

	.back {
		display: none;
	}

	span {
		margin: 0 2px;
		display: block;
		font-size: 9pt;
		line-height: 1.5;
		text-align: left;
	}

	.amount:first-child {
		font-weight: 500;
		font-size: 11pt;
	}

	.currency-logo {
		display: inline;
		width: 40px;
		background: $color-text4;
		border: 0.5px solid $color-border;
		box-sizing: border-box;

		color: $color-text4;
		border-radius: 50%;
		padding: 5px;
		transition: 0.8s all;
		margin: 10px;
	}
	
	.last-update,
	.locked-amount,
	.unconverted-amount {
		position: absolute;
		visibility: none;
		pointer-events: none;
		opacity: 0;
		transition: none;
	}

	.action-menu {
		@include flex;
		justify-content: space-around;
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
	}

	.currency-suffix {
		display: inline !important;
		font-size: 9px !important;
		font-weight: 300 !important;
	}

	.icon-question-mark {
		cursor: pointer;
		margin-top: 9px;
		font-size: 6pt !important;
		align-self: flex-start;
		color: $color-text3;
	}

	.wallet__btn-withdraw {
		display: none;
		animation: 0.2s ease 0.8s normal forwards 1 fadein;
		-webkit-animation: 0.2s ease 0.8s normal forwards 1 fadein;
		opacity: 0;
	}
}

.expand__wallet {
	.content__currency-box {
		position: relative;
		width: 188px;
		height: 194px;
		min-height: 194px;
		min-width: 188px;
		padding-bottom: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		background: white;
		border: 1px solid $color-border;
		transition-delay: 0.2s !important;
	}

	.currency-logo {
		display: block;
		border: 0;
		margin: 15px 0 0 0;
		height: 50px;
		width: 50px;
	}

	span {
		text-align: center;
	}

	.last-update {
		display: block;
		position: absolute;
		left: 5px;
		top: 5px;
		color: $color-text2;
		font-size: 7pt !important;
		font-weight: 300 !important;
		opacity: 1;
		transition: 300ms opacity 0.5s linear;
	}

	.tip {
		position: absolute;
		right: 5px;
		top: 20px;
		margin: 0;
	}

	.icon-question-mark {
		position: absolute;
		top: 5px;
		right: 5px;
		margin-top: 0;
	}

	.amount-usd {
		font-size: 7pt;
		line-height: 0.8em;
	}

	.locked-amount,
	.unconverted-amount {
		@include flex;
		position: relative;
		opacity: 1;
		transition: 300ms opacity 0.5s linear;
		span {
			display: inline;
			font-size: 7pt;
			font-weight: 300;
			line-height: 1em;
		}

		.amount {
			font-weight: 500;
			font-size: 11pt;
			padding: 0 2px;
		}
	}

	.unconverted-amount {
		height: 10px;
	}

	.available-amount {
		span {
			font-weight: 300;
			font-size: 7pt;
		}

		.amount {
			font-weight: 500;
			font-size: 11pt;
			padding: 0 2px;
		}
	}

	.batch-contract-adress {
		span {
			display: inline;
			font-size: 8pt;
			font-weight: 400;
		}
	}

	.wallet__btn-withdraw {
		display: flex;
		align-items: center;
	}

	/**
 * Flip effect
 */

	.flipper {
		transition: 0.6s;
		transform-style: preserve-3d;
		position: relative;

		.front {
			display: flex;
			flex: 1 1 auto;
			flex-flow: column;
			align-items: center;
			justify-content: space-around;

			height: 100%;
			backface-visibility: hidden;
			position: absolute;
			z-index: 2;
			transform: rotateY(0deg);
			margin-left: 0;

			.action-menu {
				margin-right: 10px;
			}
		}
		.back {
			display: flex;
			flex: 1 1 auto;
			flex-flow: column;
			justify-content: space-around;

			height: 100%;
			backface-visibility: hidden;
			position: absolute;
			transform: rotateY(180deg);
			padding-top: 10px;

			.locked-amount,
			.unconverted-amount {
				justify-content: space-between;
				margin: 15px 0;
			}

			.action-menu {
				margin-bottom: 10px;
			}
		}
	}

	.flipper.flip {
		transform: rotateY(180deg);
	}

	.container__currency-box {
		max-height: fit-content;
		height: 400px;
		margin-top: 0;
	}
}

.container__currency-box {
	outline: 1px solid transparent;
	will-change: transform;
	perspective: 100000px;
	backface-visibility: hidden;
	height: 70px;
	margin-top: -25px;
	transition: 0.8s height;
}

#cube {
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	text-align: center;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;

	&.show-front {
		-webkit-transform: translateZ(-32px);
		transform: translateZ(-32px);
		.side2 {
			opacity: 0;
		}
	}

	&.show-top {
		-webkit-transform: translateZ(-32px) rotateX(-90deg);
		transform: translateZ(-32px) rotateX(-90deg);
		.side1 {
			opacity: 0;
		}
	}
}

.side1 {
	height: 40px;
	display: flex;
	flex-direction: column;
	text-align: left;
	font-size: 10pt;

	-webkit-transform: translateZ(32px);
	transform: translateZ(32px) translateY(34px);
	transition: opacity 0.3s ease 0.1s;

	b {
		margin-left: 10px;
	}

	.lock__container {
		display: flex;
		position: relative;
		justify-content: space-between;
		width: 100%;
		top: -2px;

		&:first-of-type {
			margin-bottom: 4px;
		}

		.icon-question-mark {
			position: relative;
			top: -7px;
			font-size: 6pt !important;
			align-self: flex-start;
			color: $color-text3;
			margin-left: 5px;

			cursor: pointer;
		}
	}

	&.GNT {
		align-items: flex-start;
	}

	&.ETH {
		align-items: flex-end;
	}
}
.side2 {
	-webkit-transform: rotateX(90deg) translateZ(32px);
	transform: rotateX(90deg) translateZ(32px);
	transition: opacity 0.3s ease 0.1s;
}
