.content__currency-box{
	min-width: 100px;
	width: 162px;
	min-height: 60px;
	display: flex;
	flex: 1;
	flex-flow: row;
	align-items: center;
	justify-content: space-around;
	border: 0px solid transparent;
	transition: .8s all;
	cursor: pointer;
	transition: all 300ms linear;

	span{
		margin: 0 2px;
		display: block;
		font-size: 9pt;
		line-height: 1.5;
		text-align: left;

		&:first-child{
			font-weight: 500;
			font-size: 11pt;
		}
	}
	
	span[class^="icon"][class$="logo"]{
		display: inline;
		font-size:26pt;
		color: $color-text4;
		border-radius: 50%;
		transition: .8s all;
	}

	.icon-golem-logo{
		background: #001D57;
	}

	.icon-ethereum-logo{
		background: #3C3C3D;
	}


	.currency-suffix{
		display: inline !important;
		font-size: 9px !important;
		font-weight: 300 !important;
	}

	.icon-question-mark{
		cursor: pointer;
		margin-top: -15px;
		font-size: 8pt !important;
		align-self: flex-start;
		color: $color-text3;
	}

	.wallet__btn-withdraw{
		display: none;
		animation:.2s ease .8s normal forwards 1 fadein;
		-webkit-animation:0.2s ease 0.8s normal forwards 1 fadein;
		opacity:0;
	}
}

.expand__wallet{
	.content__currency-box{
		position: relative;
		width: 188px;
		height: 194px;
		min-height: 194px;
		min-width: 188px;
		padding-bottom: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		background: white;
		border: 1px solid $color-border;
	}

	span[class^="icon"][class$="logo"]{
		font-size:36pt;
	}

	span{
		text-align: center;
	}
	

	.tip{
		position: absolute;
		right: 5px;
		top: 20px;
		margin: 0;
	}

	.wallet__btn-withdraw{
		display: block;
	}
}

.container {
	outline: 1px solid transparent;
	will-change: transform;
	perspective: 100000px;
	backface-visibility: hidden;
}

#cube {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    text-align: center;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;

    &.show-front {
	    -webkit-transform: translateZ(-40px);
	    transform: translateZ(-40px);
	    .side2{
			opacity: 0;
		}
	}

	&.show-top {
	    -webkit-transform: translateZ(-40px) rotateX(-90deg);
	    transform: translateZ(-40px) rotateX(-90deg);
	    .side1{
			opacity: 0;
		}
	}
}

.side1 {

	height: 40px;
	display: flex;
	flex-direction: column;
	text-align: left;
	font-size: 10pt;

    -webkit-transform: translateZ(40px);
    transform: translateZ(40px) translateY(35px);
    transition: opacity 0.3s ease 0.1s;

    b{
    	margin-left: 10px;
    }

    .lock__container{
		display: flex;
	  	justify-content: space-between;
	  	width: 100%;

	  	.icon-question-mark{
			cursor: pointer;
		    font-size: 8pt !important;
		    align-self: flex-start;
		    color: $color-text3;
		    margin-left: 8px;
		}
    }

    &.GNT{
		align-items: flex-start;
    }

    &.ETH{
		align-items: flex-end;
    }
}
.side2 {
    -webkit-transform: rotateX(90deg) translateZ(40px);
    transform: rotateX(90deg) translateZ(40px);
    transition: opacity 0.3s ease 0.1s;
}
