@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__advanced {
    padding-top: 32px !important;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.quick-settings__advanced {
    @include flex;
    div {
        flex: 0 0 230px;
    }
    button {
        flex: 0 0 150px;
        height: 32px;
    }

    .dropdown-container{
        height: 32px;
        line-height: 30px;
    }
}

.section__radial-options {
    @include flex;
    justify-content: space-around; // <-- space-between is unexpectedly buggy in here
    transition: margin .5s;
    box-sizing: border-box;
    @media screen and (min-width: 610px) {
        margin: 0 90px;
    }
}

.advanced__tips {
    padding: 36px 25px 15px 25px;
    font-size: 9pt;
    font-weight: 300;
    line-height: 1.5;
    color: $color-text2;
}
