.content__history {
    position: relative;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
}

.item__history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
    & + .item__history {
        border-top: 1px solid $color-border;
    }
    &:last-child {
        border-bottom: 1px solid $color-border;
    }
    height: 80px;
    h5 {
        padding: 0;
        margin: 0 0 2px 0;
        font-size: 11pt;
        font-weight: 400;
    }
    .info__history {
        span {
            font-size: 9pt !important;
            color: $color-text2;
            font-weight: 300;
            line-height: 1.4em;
            & + span {
                &::before {
                    content: '|';
                    padding: 0 10px;
                    font-size: 11pt;
                    color: #979797;
                }
            }
        }
    }
    .status__history {
        text-transform: capitalize;
    }
    .action__history {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            padding-bottom: 3.2pt;
        }
    }
    .amount__history {
        font-weight: 400;
        font-size: 11pt !important;
        transition: .1s margin-right;
    }
    .icon-new-window {
        visibility: hidden;
        font-size: 16pt;
        color: $color-primary;
        padding-bottom: 7px;
    }
    &:hover {
        background: $color-bg2;
        .amount__history {
            margin-right: 6px;
        }
        .icon-new-window {
            visibility: visible !important;
        }
    }
}

.empty-list__history {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 70px;
    color: $color-text2;
    font-size: 10pt;
    box-sizing: border-box;
    line-height: 1.5;
}
