.content__resources {
    flex-direction: column;
    position: relative;
    flex: 1 1 100%;
    overflow: overlay;
    border-bottom: 1px solid $color-border;
    width: 100%;
    box-sizing: border-box;

    .advanced-toggler {
        @include flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
        font-size: 8pt;
        font-weight: 500;
        margin-top: 30px;
        color: $color-primary;
        transition: color 0.5s;
        cursor: pointer;

        [class^="icon-"],
        [class*=" icon-"] {
            position: relative;
            top: 1px;
            margin-right: 5px;
        }

        &:hover {
            color: $button-hover-color;
        }
    }
    .slider {
        margin: 30px 0 20px 0;
    }
    .icon-single-server {
        font-size: 16pt;
    }
}

.slider__tips {
    margin-top: 50px;
    font-size: 9pt;
    padding: 0 26px;
    line-height: 1.6em;
    font-weight: 400;
    color: $color-text3;
}
