.content__resources {
    width: 100%;
    box-sizing: border-box;
    .slider {
        margin: 45px 0 30px 0;
    }
    .icon-single-server {
        font-size: 16pt;
    }
}

.slider__tips {
    font-size: 9pt;
    padding: 0 26px;
    line-height: 1.6em;
    font-weight: 400;
    color: $color-text3;
}
