.concent-onboarding{
	&__content{
		@include flex;
		flex-direction: column;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background: $color-text4;
	    z-index: 99 !important;
	    padding-bottom: 38px;
	    box-sizing:border-box;
	}

	&__steps{
		flex: 1 1 70%;
	}

	&__desc{
		padding: 40px 30px;

		h2{
			color: $color-primary;
			margin: 0 0 20px 0;
		}

		.concent-info{
			font-size: 11pt;
			font-weight: 500;
			line-height: 1.3em;
		}

		.whats-new{
			&__list{
				padding: 50px 35px 15px 35px;
			}
			&__item{
				@include flex;
				font-size: 10pt;
				padding: 25px 0;
			}
		}
	}

	&__action-container{
        padding: 0 35px;
        justify-content: flex-end;
        font-size: 11pt;
        .btn--cancel {
            padding-right: 30px;
        }
        .btn--primary {
            padding: 0;
            width: 110px;
        }

        .page-indicator{
        	font-size: 14pt;
        }

        .icon-arrow-left-small,
    	.icon-arrow-right-small {
	        position: relative;
	        top: 11.5px;
	        font-size: 32pt;
	        cursor: pointer;
	    }
	}
}