.content__modal--confirmation {
    height: 360px;
    text-align: center;
    padding: 20px;

    .info-label,
    .info-address,
    .info-estimation{
    	font-size: 9pt;
    }

    .info-price{
    	font-size: 12pt;
    }

    .info-address{
    	line-height: 2em;
        font-weight: 400;
    }

    .info-gas__container{
    	width: calc(100% + 40px);
    	margin: 0 -40px;
    	padding: 20px 0;
    	background: $color-bg2;
    	box-sizing: border-box;
    }
}