.content__modal--result {
    height: 450px;
    text-align: center;

    .container__icon{
    	padding-bottom: 10px;
        width: 200px;
        height: 200px;
    }

    .icon-close{
        margin-top:2px;
        border: 2px solid $color-error;
        padding: 25px 25px;
        font-size: 16pt;
        color: $color-error;
        border-radius: 50%;
    }

    .icon-new-window {
        font-size: 8pt;
        margin-left: 3px;
    }

    .info__result{
    	font-size: 11pt;
    	font-weight: 400;
        line-height: 1.6;
    }

    .action__modal{
        margin-bottom: 20px;
    }
}
