.content__task-detail {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

    h4 {
        margin: 30px 0;
        &.experiment {
            display: inline-block;
            padding: 5px;
            border: 1px solid $color-error;
            border-radius: 4px;
        }
    }

    input::selection {
        background: #ffcc89;
        color: #222;
    }

    .title {
        flex: 0 0 130px;
        font-size: 10pt;
        font-weight: 400;
    }

    .info-title{
        cursor: pointer;
    }

    .no-node__task {
        width: 100%;
        height: 70px;
        margin-top: 20px;
        text-align: center;
    }
}

.section-preview__task-detail {
    position: relative;
    max-height: max-content;
    color: $color-text4;
    background: $color-bg2;
    box-sizing: border-box;
    text-align: center;
    transition: .5s all;

    .local-render__info{
        display: inline-block;
        color: $color-primary;
        padding: 20px;
        box-sizing: border-box;

        .missing-file-list{
            max-height: 100px;
            overflow-y: overlay;
            padding-right: 15px;
            margin: 10px 0;
        }

        .local-render__action{
            margin: 20px 0 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 10pt;
            text-align: center;

            button,
            span{
                width: 90px;
                cursor: pointer;
            }

            button{
                padding: 0 10px;
            }

            span{
                color: $color-text;
                font-weight: 400;
            }
        }
    }

    .info{
        &-success{
            color: $color-text4;
            background: $color-accent1;
            font-weight: 400;
            width: 100%;
        }

        &-warning,
        &-error {
            color: $color-text4;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 9pt;
            font-weight: 400;
            text-align: left;

            a{
                text-decoration: underline;
                text-decoration-color: $color-text4;
                color: $color-text4;
            }

            h4{
                align-self: center;
                margin: 10px 0;
                font-size: 12pt;
            }
        }

        &-warning {
            background: $color-accent2;
        }

        &-error{
            background: $color-error;

            .error__hint{
                margin: 10px 0;
            }
        }
    }
}

.panel-preview__task-detail {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #898989, rgba(255, 255, 255, 0));
    font-weight: 600;
    z-index: 2;

    & > a {
        display: flex;
        height: 50px;
        width: 80px;
        justify-content: flex-start;
        align-items: center;
        color: $color-text4 !important;
        font-size: 10pt;
    }

    .icon-arrow-left-small {
        font-size: 28pt;
        margin-left: -13px;
    }
}

.section-details__task-detail {
    display: flex;
    position: relative;
}

.container__task-detail {
    position: relative;
    overflow-y: overlay !important;
    overflow-x: hidden;
    transform: translateZ(0);
}

.section-task__task-detail,
.section-settings__task-detail,
.section-concent__task-detail {
    box-sizing: border-box;
    padding-bottom: 15px !important;
    border-bottom: 1px solid $color-border;

    button {
        height: 32px;
        margin-left: 10px;
    }

    .select,
    input[type=text] {
        width: 100%;
    }

    input[type=text] {
        padding: 0 10px;
        box-sizing: border-box;
    }

    .icon-cross {
        margin: 0 20px;
        font-size: 10pt;
        font-weight: 600;
    }

    .item-settings {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 55px;
    }

    .item__preset-button {
        justify-content: flex-end;
    }

    .source-path{
        font-size: 9pt;
        margin-bottom: 10px;
    }

    .switch-box {
        margin: 0;

        span {
            margin-right: 10px;
        }
    }
}

.section-task__task-detail {
    .render-on__radio-group{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        color: grey;

        [class^="icon-"], [class*=" icon-"] {
            margin-right: 5px;
            font-size: 10pt;
            position: relative;
            top:.5px;
        }

        input[type=radio] {
            display: none;
            padding: 0 20px;
            box-sizing: border-box;
        }

        /* changed style when checked */
        input[type=radio]:checked + label {
            color: #000;
            
            & > .overlay {
              background-color: $color-primary;
            }
        }

        label{
            font-size: 9pt;
            margin-left:5px;
            margin-right:50px;
            font-weight: 400;
            cursor: pointer;
        }

        /* default radio button style: unchecked */
        .overlay {
          display: inline-block;
          position: relative;
          top: .25em;
          left: -.5em; /* or whatever length you need here */
          height: .5em;
          width: .5em;
          border-radius: 50%;
          border: 1px solid $color-primary;
          background-clip: border-box;
          padding: 4px;
          background-clip: content-box;
          cursor: pointer;
        }
    }
}
.section-concent__task-detail{
    .item-concent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        font-size: 10pt;

        .title{
            align-self: center;
            flex: 0 0 100px;
        }

        .switch-box{
            flex: 0 0 280px;
            
            .switch-label{
                font-size: 9pt;

                &--left {
                    margin-right: 10px;
                }

                &--right {
                    margin-left: 10px;
                }
            }
        }
    }
}

.section-price__task-detail {
    .item-price {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        box-sizing: border-box;
        margin: 20px 0;
        font-size: 10pt;

        .input__price-set{
            width: 310px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            margin-right: 10px;

            input {
                flex: 0 0 130px;
                margin-right: 10px;
            }
        }

        .title{
            align-self: center;
            flex: 0 0 100px;
        }

        .info-title{
            margin: 0 !important;
        }


        .estimated-price {
            text-align: center;
            line-height: .8;
            transition: .5s font-size;
            margin-right: 10px;
        }

        .estimated_cost{
            margin-left: auto;
            margin-right: 5px;
            width: 300px;
            text-align: right;
            font-weight: 400;
        }

        .estimated_usd{
            align-self: flex-end;
            width: 190px;
            text-align: right;
            transition: .5s font-size;
        }
    }

    .estimated-price__panel {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        background: $color-bg2;


        span:last-child {
            margin-top: 22px;
        }
    }

    .estimated-deposit__panel {
        padding-top: 20px;

        .info-title,
        .estimated_cost,
        .estimated_usd{
            font-size: 12px;
        }

        .estimated_cost{
            font-weight: 400;
        }

        .item-price{
            margin: 5px 0;
        }
    }

    .tips__price {
        margin: 34px 0 38 0 !important;
        color: $color-text2;
        text-align: center;
        font-size: 9pt;
        line-height: 1.5em;
    }
}

.section-node-list__task-detail{
    box-sizing: border-box;
    border-bottom: 1px solid $color-border;

    .indicator__node-count{
        margin-right: 15px;
        line-height: 2.5em;
    }

    .icon-status-dot {
        margin-right: 8px;
        font-size: 10pt;

        &--done {
            color: $color-accent1;
        }

        &--download {
            color: $color-primary;
        }

        &--progress {
            color: $color-accent2;
        }

        &--warning {
            color: $color-error;
        }
    }

    table{
        width: 100%;
        margin-bottom: 30px;
        border-collapse: collapse; 
        font-size: 9pt;
    }

    tr{
        line-height: 30px;
        border-bottom: 1px solid $color-border;
        &:hover{
            & > td:nth-child(4){
                .btn {
                    opacity: 1;
                }
            }
        }
    }

    td{
        cursor: pointer;
    }

    td:nth-child(1){
            width: 150px;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            box-sizing: border-box;
            span{
                display: inline-block;
                transform: translate(0, 0);
                transition: .5s linear;
                &:hover{
                    transform: translate(-40%, 0);
                    transition: 2s ease-in-out;
                    transition-delay: .5s;
                    animation-fill-mode: forwards;
                }
            }

            .clipboard-subtask-id{
                width: 150px;
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
            }
    }

    td:nth-child(2){
        width: 15%;
        text-align: center;
    }

    td:nth-child(3){
        width: 35%;
        text-align: center;
        word-break: break-all;
        padding: 0 10px;
    }

    td:nth-child(4){
        min-width: 50px;
        .btn{
            opacity: .2;
            margin: 0;
        }
    }

    @keyframes slide-in {
    0%   { transform: translate(0, 0); }
    100% {  }
    }

    @keyframes slide-out {
    0%   { transform: translate(-60%, 0); }
    100% { transform: translate(0, 0); }
    }
}

.section-action__task-detail {
    flex: 0 0 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid $color-border;

    button {
        width: 140px;
    }

    span {
        margin-right: 20px;
        font-size: 10pt;
        font-weight: 400;
    }
}

.test_status__loading{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    
    .loading--patient{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14pt;
        font-weight: 400;
        text-align: center;
        line-height: 1.5em;
        margin-top: 6vh;

        img{
            margin-bottom: 40px;
        }
    }
}