.container__delete-modal {
    .content__modal {
        height: 220px;
        text-align: center;
        padding: 20px;
        .icon-warning {
            display: inline-block;
            color: $color-text4;
            background: $color-accent2;
            font-size: 2.6em;
            width: 1em;
            height: 1em;
            line-height: 0.9em;
            padding: 0.3em;
            text-align: center;
            border-radius: 50%;
            // color: $color-accent2;
            // font-size: 28pt;
            // background: $color-bg2;
            // border-radius: 50px;
            // padding: 18px;
        }
    }
}
