.container__delete-modal {
    .content__modal {
        height: 280px;
        text-align: center;
        padding: 20px;
        .image-container{
            width: 160px;
            height: 160px;
            margin-top: -20px;
        }
    }
}
