.container__task-error-modal {
    .content__modal {
        height: 280px;
        text-align: center;
        padding: 20px;
        .icon-warning {
            display: inline-block;
            color: $color-text4;
            background: $color-accent2;
            font-size: 2.6em;
            width: 1em;
            height: 1em;
            line-height: 0.9em;
            padding: 0.3em;
            text-align: center;
            border-radius: 50%;
            animation: heartbeat 1s 1;
            // color: $color-accent2;
            // font-size: 28pt;
            // background: $color-bg2;
            // border-radius: 50px;
            // padding: 18px;
        }
    }

    .info{
        margin-top: 20px;
        font-size: 11pt;
    }

    .message-from-server{
        box-sizing: border-box;
        margin: 10px -20px;
        padding: 10px;
        background: $color-bg;
        word-wrap: break-word;
        white-space: pre-wrap;
        width: 320px;
    }

@keyframes heartbeat
    {
      0%
      {
        transform: scale( 1 );
      }
      20%
      {
        transform: scale( 1 );
      }
      40%
      {
        transform: scale( .75 );
      }
      60%
      {
        transform: scale( 1 );
      }
      80%
      {
        transform: scale( .75 );
      }
      100%
      {
        transform: scale( 1 );
      }
    }
}
