.concent-modal {
    &__container {
        .content__modal {
            height: 440px;
            text-align: center;
            padding: 20px;
            font-size: 12pt;

            .icon-container {
                width: 120px;
                height: 120px;
                margin-bottom: 10px;
            }

            .btn--primary {
                width: 100px;
            }
        }
    }

    &__tips {
        font-size: 8pt;
        line-height: 1.4em;
        font-weight: 400;
        color: $color-text2;
    }
}
