.container__all-frame {
    background: $color-bg2;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 15px 16px 15px 16px;
    box-sizing: border-box;
    overflow-y: overlay;
    overflow-x: hidden;
}

.item__all-frame {
    display: block;
    position: relative;
    margin-top: 10px;
    width: 71.6px;
    height: 32px;
    box-sizing: border-box;
    font-size: 7pt !important;
    div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 56px;
        height: 32px;
        cursor: pointer;
        border-radius: 1px;
        transition: .5s box-shadow;
        &:hover {
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.20);
        }
    }
    .frame {
        &--undone {
            background: $color-text2;
        }
        &--progress {
            background: $color-accent2;
        }
        &--done {
            background: $color-accent1;
        }
        &--error {
            background: $color-error;
        }
    }
}

.win {
    .container__all-frame{
        padding: 15px 14px 15px 14px !important;
    }
}
