@import 'all';
@import 'complete';
.container__frame {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    box-sizing: border-box;
    .header__frame {
        background: $color-bg2;
        position: fixed;
        top: 0;
        height: 50px;
        width: 100%;
        line-height: 50px;
        box-sizing: border-box;
        font-weight: 400;
        border-bottom: 1px solid #ccc;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        span {
            flex-grow: 1;
            flex-basis: auto;
            padding: 0 5px;
            box-sizing: border-box;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
            font-size: 10pt;
            &:active,
            &:hover {
                outline: 0;
            }
            & + span {
                display: inline-block;
                line-height: 8pt;
                height: 11px;
                border-left: 1px solid #fff;
            }
        }
        .title,
        .info,
        .menu {
            padding: 0;
        }
        .info {
            .time,
            .amount__frame {
                color: $color-text2;
                & + .amount__frame:before {
                    content: '|';
                    color: $color-text2;
                    padding-right: 10px;
                }
            }
        }
        .menu {
            &__item {
                cursor: pointer;
                color: $color-text2;
                &:hover {
                    color: $color-text;
                }
                & + .menu__item:before {
                    content: '|';
                    color: $color-text2;
                    padding-right: 10px;
                }
            }
        }
        .active {
            color: $color-text;
        }
    }
    .section {
        &__frame {
            .button__subtask {
                position: absolute;
                width: 30px;
                text-align: center;
                top: 60px;
                right: 20px;
                z-index: 999;
                font-size: 20pt;
                line-height: 30px;
                border-radius: 50px;
            }
        }
        &__image {
            background: #000;
            height: 100%;
            width: 100%;
            text-align: center;
            position: relative;
            img {
                max-height: 100%;
                max-width: 100%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                box-sizing: border-box;
            }
            #frameCanvas {
                width: 700px !important;
                height: 366px !important;
                position: absolute;
                top: 0;
                left: 0;
                cursor: crosshair;
            }
        }
    }
}
