@import "all";
@import "single";
@import "control-panel";

.container__frame {
    box-sizing: border-box;
    height: 100%;
    padding-top: 86px !important;
}

.tooltip-frame {
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);

    .rc-tooltip-inner {
        position: relative;
        box-sizing: border-box;
    }

    .content__tooltip {
        height: 100%;
        display: block;
        -webkit-margin-before: .5em;
        -webkit-margin-after: .5em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        padding: 0 15px;
        font-weight: 300;
        text-align: center;
        cursor: default;
    }

    p {
        display: block;
        width: 100%;
        margin: 0;
    }

    .status__tooltip {
        font-size: 8pt;
        color: $color-text3;
        margin: 1em 0;
    }

    .time__tooltip {
        font-size: 18pt;
        margin: .8em 0 2em 0;

        &--done {
            color: $color-text2;
        }
    }

    button {
        border: 0;
        padding: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
        color: $color-text2;
        background: $color-accent3;
        font-size: 8pt;
        transition: color .5s;

        &:hover:enabled {
            color: $color-text;
        }

        &:disabled {
            cursor: not-allowed;
        }

        &:active {
            background: $color-text2;
        }
    }
}

.tooltip-dev {
    width: 500px;
    .developer_view__tooltip {
        display: flex;
        justify-content: space-around;
    }

    .time__tooltip {
        margin: .2em 0 .2em 0;

        &--done {
            color: $color-text2;
        }
    }
    
    .subtask-id__tooltip,
    .ip-info__tooltip {
        color: $color-text2;
        margin: .2em 0 .2em 0;
    }

    .node-name__tooltip {
        color: $color-text2;
        margin: .2em 0 .2em 0;
    }

    .subtask-id__tooltip{
        cursor: pointer;
    }

    .desc__tooltip {
        width: 240px;
        height: 120px;
        padding-left: 20px;
        line-height: 1.2em;
        color: $color-text2;
        margin: .4em 0 7em 0;
        word-wrap: break-word;
        overflow-y: scroll;
        overflow-x: none;
    }

    .logs__tooltip {
        position: absolute;
        left: 0;
        display: flex;
        justify-content: space-between;
        bottom: 0;
        width: 100%;
        color: $color-text2;

        button:first {
            margin-right: .25em;
        }

        button + button {
            margin-left: .25em;
        }
    }

    button {
        position: relative;
    }

    .submit__button {
        position: absolute;
        left: 0;
        bottom: 42px;
    }
}

.image-viewer-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;

    .center-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;

        img {
            max-width: 1024px;
            height: auto;
            display: block;
            margin: auto;
        }
    }
}

.image-zoom-container {
    width: 100%;
    height: 100%;
    transform-origin: 0 0 0;
    transition: transform 0.3ms;
    display: flex;
    justify-content: center;

    img {
        height: auto;
    }
}

/*                 OS DIFFERENCES
================================================== */

.win {
    .container__frame {
        padding-top: 50px !important;
    }
}