$color_1: #cbcbcb;
$color_2: rgb(245, 245, 245);
$color_3: rgb(64, 93, 175);
$color_4: rgb(245, 166, 35);

.icon-no-connection2 {
    &:before {
        content: "\e900";
        color: $color_1;
    }
}
.icon-clipboard2 {
    &:before {
        content: "\e94b";
    }
}
.icon-copy {
    &:before {
        content: "\e94c";
    }
}
.icon-ethereum-logo {
    &:before {
        content: "\e94d";
    }
}
.icon-file-menu {
    &:before {
        content: "\e94e";
    }
}
.icon-folder-menu {
    &:before {
        content: "\e94f";
    }
}
.icon-golem-logo {
    &:before {
        content: "\e950";
    }
}
.icon-info-small {
    &:before {
        content: "\e951";
    }
}
.icon-locked {
    &:before {
        content: "\e952";
    }
}
.icon-pencil2 {
    &:before {
        content: "\e953";
    }
}
.icon-unlocked {
    &:before {
        content: "\e954";
    }
}
.icon-wallet {
    &:before {
        content: "\e955";
    }
}
.icon-warning-small {
    &:before {
        content: "\e956";
    }
}
.icon-add {
    &:before {
        content: "\e901";
    }
}
.icon-alarm {
    &:before {
        content: "\e902";
    }
}
.icon-android {
    &:before {
        content: "\e903";
    }
}
.icon-appleinc {
    &:before {
        content: "\e904";
    }
}
.icon-arrow-down {
    &:before {
        content: "\e905";
    }
}
.icon-arrow-left-white {
    &:before {
        content: "\e906";
    }
}
.icon-arrow-right-white {
    &:before {
        content: "\e907";
    }
}
.icon-arrow-right {
    &:before {
        content: "\e908";
    }
}
.icon-arrow-up {
    &:before {
        content: "\e909";
    }
}
.icon-blender {
    .path1 {
        &:before {
            content: "\e90a";
            color: $color_2;
        }
    }
    .path2 {
        &:before {
            content: "\e90b";
            margin-left: -1.2080078125em;
            color: $color_3;
        }
    }
    .path3 {
        &:before {
            content: "\e90c";
            margin-left: -1.2080078125em;
            color: $color_4;
        }
    }
}
.icon-blender-grey {
    .path1 {
        &:before {
            content: "\e90a";
            color: rgb(245, 245, 245);
        }
    }
    .path2 {
        &:before {
            content: "\e90b";
            margin-left: -1.2080078125em;
        }
    }
    .path3 {
        &:before {
            content: "\e90c";
            margin-left: -1.2080078125em;
        }
    }
}
.icon-book {
    &:before {
        content: "\e90d";
    }
}
.icon-camera {
    &:before {
        content: "\e90e";
    }
}
.icon-checkmark {
    &:before {
        content: "\e90f";
    }
}
.icon-checkmark2 {
    &:before {
        content: "\e910";
    }
}
.icon-clipboard {
    &:before {
        content: "\e911";
    }
}
.icon-clock {
    &:before {
        content: "\e912";
    }
}
.icon-clock2 {
    &:before {
        content: "\e913";
    }
}
.icon-close {
    &:before {
        content: "\e914";
    }
}
.icon-compass {
    &:before {
        content: "\e915";
    }
}
.icon-confirmation {
    &:before {
        content: "\e916";
    }
}
.icon-confirmed-empty {
    &:before {
        content: "\e917";
    }
}
.icon-connection {
    &:before {
        content: "\e918";
    }
}
.icon-doc {
    &:before {
        content: "\e919";
    }
}
.icon-download {
    &:before {
        content: "\e91a";
    }
}
.icon-eye {
    &:before {
        content: "\e91b";
    }
}
.icon-facebook {
    &:before {
        content: "\e91c";
    }
}
.icon-finder {
    &:before {
        content: "\e91d";
    }
}
.icon-floppy-disk {
    &:before {
        content: "\e91e";
    }
}
.icon-github {
    &:before {
        content: "\e91f";
    }
}
.icon-google-plus {
    &:before {
        content: "\e920";
    }
}
.icon-location {
    &:before {
        content: "\e921";
    }
}
.icon-lock {
    &:before {
        content: "\e922";
    }
}
.icon-luxrender {
    &:before {
        content: "\e923";
    }
}
.icon-macbook {
    &:before {
        content: "\e924";
    }
}
.icon-maximize {
    &:before {
        content: "\e925";
    }
}
.icon-mic {
    &:before {
        content: "\e926";
    }
}
.icon-minimize {
    &:before {
        content: "\e927";
    }
}
.icon-multi-frame {
    &:before {
        content: "\e928";
    }
}
.icon-multi-server {
    &:before {
        content: "\e929";
    }
}
.icon-negative {
    &:before {
        content: "\e92a";
    }
}
.icon-new-window {
    &:before {
        content: "\e92b";
    }
}
.icon-no-connection {
    &:before {
        content: "\e92c";
        color: $color_1;
    }
}
.icon-not-confirmed {
    &:before {
        content: "\e92d";
    }
}
.icon-paste {
    &:before {
        content: "\e92e";
    }
}
.icon-pencil {
    &:before {
        content: "\e92f";
    }
}
.icon-positive {
    &:before {
        content: "\e930";
    }
}
.icon-progress-clockwise {
    &:before {
        content: "\e931";
    }
}
.icon-progress {
    &:before {
        content: "\e932";
    }
}
.icon-qrcode {
    &:before {
        content: "\e933";
    }
}
.icon-question-mark {
    &:before {
        content: "\e934";
    }
}
.icon-reddit {
    &:before {
        content: "\e935";
    }
}
.icon-reload-warning {
    &:before {
        content: "\e936";
    }
}
.icon-reload {
    &:before {
        content: "\e937";
    }
}
.icon-blocked {
    &:before {
        content: "\e927";
    }
}
.icon-settings {
    &:before {
        content: "\e938";
    }
}
.icon-show-subtasks {
    &:before {
        content: "\e939";
    }
}
.icon-single-frame {
    &:before {
        content: "\e93a";
    }
}
.icon-single-server {
    &:before {
        content: "\e93b";
    }
}
.icon-status-dot {
    &:before {
        content: "\e93c";
    }
}
.icon-switch {
    &:before {
        content: "\e93d";
    }
}
.icon-trash {
    &:before {
        content: "\e93e";
    }
}
.icon-tux {
    &:before {
        content: "\e93f";
    }
}
.icon-twitter {
    &:before {
        content: "\e940";
    }
}
.icon-check {
    &:before {
        content: "\e941";
    }
}
.icon-upload {
    &:before {
        content: "\e942";
    }
}
.icon-upload2 {
    &:before {
        content: "\e943";
    }
}
.icon-warning {
    &:before {
        content: "\e944";
    }
}
.icon-windows {
    &:before {
        content: "\e945";
    }
}
.icon-windows8 {
    &:before {
        content: "\e946";
    }
}
.icon-youtube2 {
    &:before {
        content: "\e947";
    }
}
.icon-zoom-in {
    &:before {
        content: "\e948";
    }
}
.icon-zoom-out {
    &:before {
        content: "\e949";
    }
}
.icon-zoom {
    &:before {
        content: "\e94a";
    }
}
