$color_1: #4e4e4e;
$color_2: rgb(52, 52, 52);
$color_3: rgb(140, 140, 140);
$color_4: rgb(60, 60, 59);
$color_5: rgb(20, 20, 20);
$color_6: rgb(57, 57, 57);
$color_7: rgb(255, 255, 255);
$color_8: rgb(64, 93, 175);
$color_9: rgb(245, 166, 35);

.icon-high-five {
  &:before {
    content: "\e968";
  }
}
.icon-ok-hand {
  &:before {
    content: "\e969";
  }
}
.icon-shield {
  &:before {
    content: "\e96a";
  }
}
.icon-file-menu {
  &:before {
    content: "\e953";
  }
}
.icon-folder-menu {
  &:before {
    content: "\e954";
  }
}
.icon-cpu {
  &:before {
    content: "\e900";
    color: $color_1;
  }
}
.icon-gpu {
  &:before {
    content: "\e901";
  }
}
.icon-sgx {
  &:before {
    content: "\e95b";
  }
}
.icon-chat {
  &:before {
    content: "\e95c";
  }
}
.icon-ethereum-logo {
  .path1 {
    &:before {
      content: "\e95d";
      color: $color_2;
    }
  }
  .path2 {
    &:before {
      content: "\e95e";
      margin-left: -1em;
      color: $color_3;
    }
  }
  .path3 {
    &:before {
      content: "\e95f";
      margin-left: -1em;
      color: $color_4;
    }
  }
  .path4 {
    &:before {
      content: "\e960";
      margin-left: -1em;
      color: $color_3;
    }
  }
  .path5 {
    &:before {
      content: "\e961";
      margin-left: -1em;
      color: $color_5;
    }
  }
  .path6 {
    &:before {
      content: "\e962";
      margin-left: -1em;
      color: $color_6;
    }
  }
}
.icon-logs {
  &:before {
    content: "\e963";
  }
}
.icon-golem-logo {
  &:before {
    content: "\e902";
    color: $color_8;
  }
}
.icon-notification {
  &:before {
    content: "\e903";
  }
}
.icon-blender-bw {
  &:before {
    content: "\e904";
  }
}
.icon-blender,
.icon-blender_nvgpu,
.icon-blender_sgx {
  .path1 {
    &:before {
      content: "\e905";
      color: $color_7;
    }
  }
  .path2 {
    &:before {
      content: "\e906";
      margin-left: -1.25em;
      color: $color_8;
    }
  }
  .path3 {
    &:before {
      content: "\e907";
      margin-left: -1.25em;
      color: $color_9;
    }
  }
}
.icon-blender_nvgpu,
.icon-blender_sgx {
  position: relative;
   &:after {
    position: absolute;
    font-size: 10pt;
    bottom: 0;
    right: 0;
   }
}
.icon-blender_nvgpu{
   &:after {
    content: '\e901'
   }
}
.icon-blender_sgx{
   &:after {
    content: '\e95b'
   }
}
.icon-no-connection2 {
  &:before {
    content: "\e908";
  }
}
.icon-add {
  &:before {
    content: "\e909";
  }
}
.icon-alarm {
  &:before {
    content: "\e90a";
  }
}
.icon-android {
  &:before {
    content: "\e90b";
  }
}
.icon-appleinc {
  &:before {
    content: "\e90c";
  }
}
.icon-arrow-down {
  &:before {
    content: "\e90d";
  }
}
.icon-arrow-left-small {
  &:before {
    content: "\e90e";
  }
}
.icon-arrow-right-small {
  &:before {
    content: "\e90f";
  }
}
.icon-arrow-right {
  &:before {
    content: "\e910";
  }
}
.icon-arrow-up {
  &:before {
    content: "\e911";
  }
}
.icon-book {
  &:before {
    content: "\e912";
  }
}
.icon-camera {
  &:before {
    content: "\e913";
  }
}
.icon-checkmark {
  &:before {
    content: "\e914";
  }
}
.icon-checkmark2 {
  &:before {
    content: "\e915";
  }
}
.icon-clipboard {
  &:before {
    content: "\e916";
  }
}
.icon-clock {
  &:before {
    content: "\e917";
  }
}
.icon-clock2 {
  &:before {
    content: "\e918";
  }
}
.icon-close {
  &:before {
    content: "\e919";
  }
}
.icon-compass {
  &:before {
    content: "\e91a";
  }
}
.icon-confirmation {
  &:before {
    content: "\e91b";
  }
}
.icon-confirmed-empty {
  &:before {
    content: "\e91c";
  }
}
.icon-connection {
  &:before {
    content: "\e91d";
  }
}
.icon-doc {
  &:before {
    content: "\e91e";
  }
}
.icon-download {
  &:before {
    content: "\e91f";
  }
}
.icon-eye {
  &:before {
    content: "\e920";
  }
}
.icon-facebook {
  &:before {
    content: "\e921";
  }
}
.icon-finder {
  &:before {
    content: "\e922";
  }
}
.icon-floppy-disk {
  &:before {
    content: "\e923";
  }
}
.icon-github {
  &:before {
    content: "\e924";
  }
}
.icon-google-plus {
  &:before {
    content: "\e925";
  }
}
.icon-location {
  &:before {
    content: "\e926";
  }
}
.icon-lock {
  &:before {
    content: "\e927";
  }
}
.icon-luxrender {
  &:before {
    content: "\e928";
  }
}
.icon-macbook {
  &:before {
    content: "\e929";
  }
}
.icon-maximize {
  &:before {
    content: "\e92a";
  }
}
.icon-mic {
  &:before {
    content: "\e92b";
  }
}
.icon-minimize {
  &:before {
    content: "\e92c";
  }
}
.icon-multi-frame {
  &:before {
    content: "\e92d";
  }
}
.icon-multi-server {
  &:before {
    content: "\e92e";
  }
}
.icon-negative {
  &:before {
    content: "\e92f";
  }
}
.icon-new-window {
  &:before {
    content: "\e930";
  }
}
.icon-no-connection {
  &:before {
    content: "\e931";
  }
}
.icon-not-confirmed {
  &:before {
    content: "\e932";
  }
}
.icon-paste {
  &:before {
    content: "\e933";
  }
}
.icon-pencil {
  &:before {
    content: "\e934";
  }
}
.icon-positive {
  &:before {
    content: "\e935";
  }
}
.icon-progress-clockwise {
  &:before {
    content: "\e936";
  }
}
.icon-progress {
  &:before {
    content: "\e937";
  }
}
.icon-qrcode {
  &:before {
    content: "\e938";
  }
}
.icon-question-mark {
  &:before {
    content: "\e939";
  }
}
.icon-reddit {
  &:before {
    content: "\e93a";
  }
}
.icon-reload-warning {
  &:before {
    content: "\e93b";
  }
}
.icon-reload {
  &:before {
    content: "\e93c";
  }
}
.icon-settings {
  &:before {
    content: "\e93d";
  }
}
.icon-show-subtasks {
  &:before {
    content: "\e93e";
  }
}
.icon-single-frame {
  &:before {
    content: "\e93f";
  }
}
.icon-single-server {
  &:before {
    content: "\e940";
  }
}
.icon-status-dot {
  &:before {
    content: "\e941";
  }
}
.icon-switch {
  &:before {
    content: "\e942";
  }
}
.icon-trash {
  &:before {
    content: "\e943";
  }
}
.icon-linux {
  &:before {
    content: "\e944";
  }
}
.icon-twitter {
  &:before {
    content: "\e945";
  }
}
.icon-check {
  &:before {
    content: "\e946";
  }
}
.icon-upload {
  &:before {
    content: "\e947";
  }
}
.icon-upload2 {
  &:before {
    content: "\e948";
  }
}
.icon-warning {
  &:before {
    content: "\e949";
  }
}
.icon-windows {
  &:before {
    content: "\e94a";
  }
}
.icon-windows8 {
  &:before {
    content: "\e94b";
  }
}
.icon-youtube {
  &:before {
    content: "\e94c";
  }
}
.icon-zoom-in {
  &:before {
    content: "\e94d";
  }
}
.icon-zoom-out {
  &:before {
    content: "\e94e";
  }
}
.icon-zoom {
  &:before {
    content: "\e94f";
  }
}
.icon-clipboard2 {
  &:before {
    content: "\e950";
  }
}
.icon-copy {
  &:before {
    content: "\e951";
  }
}
.icon-ethereum-logo1 {
  &:before {
    content: "\e952";
  }
}
.icon-withdraw{
  &:before {
    content: "\e964";
  }
}
.icon-info-small {
  &:before {
    content: "\e955";
  }
}
.icon-locked {
  &:before {
    content: "\e956";
  }
}
.icon-pencil2 {
  &:before {
    content: "\e957";
  }
}
.icon-unlocked {
  &:before {
    content: "\e958";
  }
}
.icon-wallet {
  &:before {
    content: "\e959";
  }
}
.icon-warning-small {
  &:before {
    content: "\e95a";
  }
}
.icon-back-up {
  &:before {
    content: "\e965";
  }
}
.icon-settings-simplified {
  &:before {
    content: "\e966";
  }
}
.icon-transaction-history {
  &:before {
    content: "\e967";
  }
}
.icon-ethereum-logo {
  &:before {
    content: "\e952";
    color: $color_5;
  }
}

