$color_1: rgb(255, 255, 255);
$color_2: rgb(64, 93, 175);
$color_3: rgb(245, 166, 35);
$color_4: rgb(155, 155, 155);
$color_5: rgb(55, 196, 129);

.icon-file-upload {
  &:before {
    content: "\e900";
  }
}
.icon-high-five {
  &:before {
    content: "\e901";
  }
}
.icon-image {
  &:before {
    content: "\e902";
  }
}
.icon-no-connection {
  &:before {
    content: "\e903";
  }
}
.icon-ok-hand {
  &:before {
    content: "\e904";
  }
}
.icon-shield {
  &:before {
    content: "\e905";
  }
}
.icon-ethereum {
  &:before {
    content: "\e906";
  }
}
.icon-add {
  &:before {
    content: "\e907";
  }
}
.icon-alarm {
  &:before {
    content: "\e908";
  }
}
.icon-android {
  &:before {
    content: "\e909";
  }
}
.icon-apple {
  &:before {
    content: "\e90a";
  }
}
.icon-arrow-down {
  &:before {
    content: "\e90b";
  }
}
.icon-arrow-left,
.icon-arrow-right {
  &:before {
    content: "\e90c";
  }
}
.icon-arrow-left {
  display: inline-block;
  transform: rotateY(180deg);
}
.icon-back {
  &:before {
    content: "\e90d";
  }
}
.icon-blender,
.icon-blender_nvgpu,
.icon-blender_sgx {
  .path1 {
    &:before {
      content: "\e90e";
      color: $color_1;
    }
  }
  .path2 {
    &:before {
      content: "\e90f";
      margin-left: -1em;
      color: $color_2;
    }
  }
  .path3 {
    &:before {
      content: "\e910";
      margin-left: -1em;
      color: $color_3;
    }
  }
}
.icon-blender-bw {
  &:before {
    content: "\e911";
  }
}
.icon-blender_nvgpu,
.icon-blender_sgx {
  position: relative;
   &:after {
    position: absolute;
    font-size: 10pt;
    bottom: 3px;
    right: 3px;
   }
}
.icon-blender_nvgpu{
   &:after {
    content: '\e921'
   }
}
.icon-blender_sgx{
   &:after {
    content: '\e941'
   }
}
.icon-book {
  &:before {
    content: "\e912";
  }
}
.icon-camera {
  &:before {
    content: "\e913";
  }
}
.icon-chat {
  &:before {
    content: "\e914";
  }
}
.icon-close {
  &:before {
    content: "\e915";
  }
}
.icon-compass {
  &:before {
    content: "\e916";
  }
}
.icon-confirmation {
  &:before {
    content: "\e917";
  }
}
.icon-copy {
  &:before {
    content: "\e918";
  }
}
.icon-cpu {
  &:before {
    content: "\e919";
  }
}
.icon-delete {
  &:before {
    content: "\e91a";
  }
}
.icon-doc {
  &:before {
    content: "\e91b";
  }
}
.icon-download {
  &:before {
    content: "\e91c";
  }
}
.icon-facebook {
  &:before {
    content: "\e91d";
  }
}
.icon-failure {
  &:before {
    content: "\e91e";
  }
}
.icon-file {
  &:before {
    content: "\e91f";
  }
}
.icon-finished {
  &:before {
    content: "\e920";
  }
}
.icon-gpu {
  &:before {
    content: "\e921";
  }
}
.icon-floppy-disk {
  &:before {
    content: "\e922";
  }
}
.icon-folder {
  &:before {
    content: "\e923";
  }
}
.icon-github {
  &:before {
    content: "\e924";
  }
}
.icon-golem {
  &:before {
    content: "\e925";
  }
}
.icon-intel {
  &:before {
    content: "\e926";
  }
}
.icon-linux {
  &:before {
    content: "\e927";
  }
}
.icon-location {
  &:before {
    content: "\e928";
  }
}
.icon-locked {
  &:before {
    content: "\e929";
  }
}
.icon-logs {
  &:before {
    content: "\e92a";
  }
}
.icon-macbook {
  &:before {
    content: "\e92b";
  }
}
.icon-maximize {
  &:before {
    content: "\e92c";
  }
}
.icon-mic {
  &:before {
    content: "\e92d";
  }
}
.icon-minimize {
  &:before {
    content: "\e92e";
  }
}
.icon-multi-frame {
  &:before {
    content: "\e92f";
  }
}
.icon-multi-server {
  &:before {
    content: "\e930";
  }
}
.icon-negative {
  &:before {
    content: "\e931";
  }
}
.icon-new-window {
  &:before {
    content: "\e932";
  }
}
.icon-notification {
  &:before {
    content: "\e933";
  }
}
.icon-pencil {
  &:before {
    content: "\e934";
  }
}
.icon-preview {
  &:before {
    content: "\e935";
  }
}
.icon-positive {
  &:before {
    content: "\e936";
  }
}
.icon-progress {
  &:before {
    content: "\e937";
  }
}
.icon-qrcode {
  &:before {
    content: "\e938";
  }
}
.icon-question-mark {
  &:before {
    content: "\e939";
  }
}
.icon-reddit {
  &:before {
    content: "\e93a";
  }
}
.icon-refresh {
  &:before {
    content: "\e93b";
  }
}
.icon-reload-time {
  &:before {
    content: "\e93c";
  }
}
.icon-reload-warning {
  &:before {
    content: "\e93d";
  }
}
.icon-reload {
  &:before {
    content: "\e93e";
  }
}
.icon-setting {
  &:before {
    content: "\e93f";
  }
}
.icon-settings {
  &:before {
    content: "\e940";
  }
}
.icon-sgx {
  &:before {
    content: "\e941";
  }
}
.icon-show-subtasks {
  &:before {
    content: "\e942";
  }
}
.icon-single-frame {
  &:before {
    content: "\e943";
  }
}
.icon-single-server {
  &:before {
    content: "\e944";
  }
}
.icon-status-dot {
  &:before {
    content: "\e945";
  }
}
.icon-subtask-awaiting {
  &:before {
    content: "\e946";
  }
}
.icon-subtask-verifying {
  &:before {
    content: "\e947";
  }
}
.icon-subtask-verification {
  &:before {
    content: "\e948";
  }
}
.icon-subtasks-attempted-green {
  .path1 {
    &:before {
      content: "\e949";
      color: $color_4;
    }
  }
  .path2 {
    &:before {
      content: "\e94a";
      margin-left: -1em;
      color: $color_4;
    }
  }
  .path3 {
    &:before {
      content: "\e94b";
      margin-left: -1em;
      color: $color_4;
    }
  }
  .path4 {
    &:before {
      content: "\e94c";
      margin-left: -1em;
      color: $color_4;
    }
  }
  .path5 {
    &:before {
      content: "\e94d";
      margin-left: -1em;
      color: $color_5;
    }
  }
  .path6 {
    &:before {
      content: "\e94e";
      margin-left: -1em;
      color: $color_5;
    }
  }
}
.icon-subtasks-attempted {
  &:before {
    content: "\e94f";
  }
}
.icon-subtasks-awaiting {
  &:before {
    content: "\e950";
  }
}
.icon-subtasks-downloading {
  &:before {
    content: "\e951";
  }
}
.icon-subtasks-failure {
  &:before {
    content: "\e952";
  }
}
.icon-subtasks-negotiations {
  &:before {
    content: "\e953";
  }
}
.icon-subtasks-restarted {
  &:before {
    content: "\e954";
  }
}
.icon-details {
  &:before {
    content: "\e955";
  }
}
.icon-tasks-all {
  &:before {
    content: "\e956";
  }
}
.icon-tasks-success-alt {
  &:before {
    content: "\e957";
  }
}
.icon-tasks-supported-green {
  .path1 {
    &:before {
      content: "\e958";
      color: $color_4;
    }
  }
  .path2 {
    &:before {
      content: "\e959";
      margin-left: -1em;
      color: $color_4;
    }
  }
  .path3 {
    &:before {
      content: "\e95a";
      margin-left: -1em;
      color: $color_4;
    }
  }
  .path4 {
    &:before {
      content: "\e95b";
      margin-left: -1em;
      color: $color_4;
    }
  }
  .path5 {
    &:before {
      content: "\e95c";
      margin-left: -1em;
      color: $color_5;
    }
  }
}
.icon-tasks-supported {
  &:before {
    content: "\e95d";
  }
}
.icon-timeout {
  &:before {
    content: "\e95e";
  }
}
.icon-transaction-history {
  &:before {
    content: "\e95f";
  }
}
.icon-unlocked {
  &:before {
    content: "\e960";
  }
}
.icon-up {
  &:before {
    content: "\e961";
  }
}
.icon-upload {
  &:before {
    content: "\e962";
  }
}
.icon-wallet {
  &:before {
    content: "\e963";
  }
}
.icon-warning-rounded {
  &:before {
    content: "\e964";
  }
}
.icon-warning-triangle {
  &:before {
    content: "\e965";
  }
}
.icon-windows {
  &:before {
    content: "\e966";
  }
}
.icon-youtube {
  &:before {
    content: "\e967";
  }
}
.icon-zoom-in {
  &:before {
    content: "\e968";
  }
}
.icon-zoom-out {
  &:before {
    content: "\e969";
  }
}
.icon-zoom {
  &:before {
    content: "\e96a";
  }
}
