.container__connection-modal {
    z-index: 9 !important;
    .content__modal {
        text-align: center;
        justify-content: space-around;
        padding: 20px;
        .container-icon {
            padding: 25px 0;
            flex: 0 0 40px;
        }
        & > span {
            padding: 15px 10px 35px 10px;
            font-size: 10pt;
            font-weight: 400;
            line-height: 1.5em;
        }
        .icon-warning {
            color: $color-accent2;
            font-size: 28pt;
            background: $color-bg2;
            border-radius: 50px;
            padding: 18px;
        }
    }
}
