.drop-zone {
    position: relative;
    height: 100%;
    border-bottom: 1px solid $color-border;
    box-sizing: border-box;
}

.drop-zone--hide {
    display: none
}

.drop-zone--show {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgba(249, 251, 252, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex: 1;
    padding-top: 100px;
    align-items: center;
    text-align: center;
    font-size: 12pt;
    font-weight: 600;
    color: #444;
    margin: auto;
    line-height: 1.5;
    p,
    span {
        pointer-events: none;
    }
    .icon-upload,
    .icon-no-connection{
        color: $color-text3;
        font-size: 30pt;
        font-weight: 200;
        pointer-events: none;
    }
    .tips__drop-zone {
        font-size: 9pt;
        font-weight: 400;
        pointer-events: none;
    }

    .container-icon {
        padding: 25px 0;
        flex: 0 0 40px;
        pointer-events: none;
    }
}


.no-drop{
    cursor: no-drop !important;
}
