.dropdown-container {
    position: relative;
    border: 1px solid $color-text3;
    height: 32.9px;
    width: 100%;
    background: white;
    box-sizing: border-box;
    text-align: left;
    line-height: 32.8px;
    font-size: 11pt;
    font-weight: 400;
    border-radius: 2px;
    &:after {
        content: " ";
        height: 0;
        width: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 5px solid $color-text;
        position: absolute;
        right: 15px;
        top: 14px;
        transition: all 0.3s linear;
        pointer-events: none;
    }

    &:disabled{
        background: $color-input;
    }
}

.dropdown-display {
    position: relative;
    padding: 0 15px;
    text-transform: capitalize;
    cursor: pointer;
    &[disabled]{
        cursor: not-allowed;
        background: $color-input;
    }
}

.dropdown-list {
    position: absolute;
    width: 100%;
    top: 40px;
    background: $color-text4;
    z-index: 99;
    border: 1px solid $display-indicator-backround;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.20);
    border-radius: 4px;
    padding-top: 5px;
    box-sizing: border-box;
    /* Option 1: */
    font-size: 14px;
    color: $color-text2;
    line-height: 2em;
    cursor: pointer;
    .item-container__dropdown {
        padding-bottom: 5px;
    }
    .option__dropdown {
        border-top: 1px solid $color-border;
    }
    .info__dropdown {
        padding: 0 10px;
        font-size: 8pt;
    }
    .item__dropdown {
        width: 100%;
        padding: 0 15px;
        cursor: pointer;
        span {
            text-transform: capitalize;
        }
        &:hover > span {
            color: $color-text;
            transition: .3s color;
        }
        .selected {
            color: $color-text !important;
            transition: .3s color;
        }
    }
}
