.footer {
    width: 100%;
    min-width: 450px;
    flex: 0 0 59px;
    line-height: 59px;
    border-top: 1px solid #bbb;
    padding: 0 20px;
    background: $color-text4;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 10pt;
    font-weight: 400;
    .icon-progress {
        display: inline-block;
        color: $color-accent1;
        font-size: 15pt;
        font-weight: 500;
        margin-right: 12px;
        vertical-align: middle;
        margin-bottom: 4px;
    }
}
