.footer {
    width: 100%;
    min-width: 450px;
    flex: 0 0 59px;
    line-height: 59px;
    border-top: 1px solid #bbb;
    padding: 0 20px;
    background: $color-text4;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 10pt;
    font-weight: 400;
    box-sizing: border-box;
    .info-bar__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    img {
        width: 20px;
        height: 20px;
    }
    .indicator-status {
        -webkit-mask: url('../assets/img/status.svg') no-repeat 100% 100%;
        mask: url('../assets/img/status.svg') no-repeat 100% 100%;
        -webkit-mask-size: cover;
        mask-size: cover;
        width: 20px;
        height: 20px;
        transition: background-color .5s;
        &--red {
            background-color: $color-error;
        }
        &--yellow {
            background-color: $color-accent2;
        }
        &--green {
            background-color: $color-accent1;
        }
        &--blue {
            background-color: $button-static-color;
        }
    }
    .progress-status {
        display: inline-block;
        font-size: 15pt;
        font-weight: 500;
        margin-right: 10px;
        vertical-align: middle;
        margin-bottom: 0.5px;
    }
    .icon-new-window {
        font-size: 20pt;
        cursor: pointer;
        color: $color-text;
        will-change: transform;
        &.jump {
            animation: beat 0.35s linear;
        }
        &.disabled {
            color: $button-disable-color;
        }
    }
    .preview-bar__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 5px 0;
        padding: 0;
        .switch-box {
            margin: 0 10px 0 0;
            padding: 0;
        }
    }
    @keyframes beat {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.4);
            color: $button-static-color;
        }
        100% {
            transform: scale(1);
        }
    }
}
