/* THIS CLASS LETS USER DRAG ELECTRON APPLICATION
================================================== */

.draggable {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: $header-height;
    cursor: move;
    -webkit-app-region: drag;
}

.header {
    position: fixed;
    top: 1px;
    left: 1px;
    right: 1px;
    line-height: 26px;
    border-bottom: 1px solid $color-text3;
    box-sizing: border-box;
    z-index: 99;
    background: $color-text4;

    a {
        color: $color-text3;

        &:hover {
            color: $color-text;
        }
    }

    .draggable--win,
    .draggable--other {
        display: none;
    }

    .top-titlebar {
        display: none;
    }

    .nav {
        z-index: 4;
        display: flex;
        justify-content: space-between;
        align-content: center;
        box-sizing: border-box;
        width: 100%;
        font-family: $font-family-primary;
        font-weight: bold;
    }

    .menu,
    .nav__list {
        list-style: none;
        padding: 0;
    }

    .menu__item,
    .nav__item {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        color: $color-text3;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        z-index: 999;
        -webkit-app-region: no-drag;

        &:hover {
            color: $color-text;
        }

        &:active,
        &:hover {
            outline: 0;
        }
    }

    .nav__item {
        margin: 0;

        &:hover {
            span {
                background-color: $color-text;
            }
        }

        & + .nav__item {
            margin-right: 20px;
        }
    }

    .menu__item {
        color: $color-text3;

        [class^="icon-"],
        [class*=" icon-"] {
            font-size: 15pt;
            line-height: 26px;
        }

        & ~ .menu__item {
            margin-left: 20px;
        }
    }

    .active {
        color: $color-text;
    }

    // .nav__item:nth-child(2):hover ~ .selector
    .active:nth-child(2) ~ .selector {
        left: 91px;
        width: 68px;
    }

    // .nav__item:nth-child(3):hover ~ .selector
    .active:nth-child(3) ~ .selector {
        left: 179px;
        width: 47px;
    }

    .selector {
        position: absolute;
        bottom: -1px;
        display: block;
        height: 2px;
        box-sizing: border-box;
        background: $button-static-color;
    }

    ul li,
    span {
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        position: relative;
    }
}

@mixin header($padding, $selector-left_1, $selector-left_2) {
    .nav {
        padding: 0 $padding;
    }

    /*.nav__item:nth-child(2):hover ~ .selector*/
    .active:nth-child(2) ~ .selector {
        left: $selector-left_1 + $padding;
        width: 68px;
    }

    /*.nav__item:nth-child(3):hover ~ .selector*/
    .active:nth-child(3) ~ .selector {
        left: $selector-left_2 + $padding;
        width: 47px;
    }
}

.header__frame {
    height: $header-height;
    width: 100%;
    margin-left: 30px;
    line-height: $header-height;
    box-sizing: border-box;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    span {
        flex-grow: 1;
        flex-basis: auto;
        padding: 0 5px 10pt;
        box-sizing: border-box;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        font-size: 10pt !important;

        &:active,
        &:hover {
            outline: 0;
        }

        & + span {
            display: inline-block;
            line-height: 8pt;
            height: 11px;
            border-left: 1px solid #fff;
        }
    }

    .title,
    .info,
    .menu {
        padding: 0;
    }

    .info {
        .time,
        .amount__frame {
            color: $color-text2;

            & + .amount__frame:before {
                content: '|';
                color: $color-text2;
                padding-right: 10px;
                margin-left: 0 !important;
            }
        }
    }

    .menu {
        &__item {
            cursor: pointer;
            color: $color-text2;
            margin: 0 !important;

            &:hover {
                color: $color-text;
            }

            & + .menu__item:before {
                content: '|';
                color: $color-text2;
                padding-right: 10px;
            }
        }
    }

    .active {
        color: $color-text;
    }
}

/*                 OS DIFFERENCES
================================================== */

.win .header {
    height: $header-height-windows;

    @include header($padding-windows, 0, 87px);

    .top-titlebar {
        padding-left: $padding-windows;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        color: #000;
        font-weight: 400;
        font-size: 9pt;
        border-bottom: 1px solid $color-border;
        box-sizing: border-box;

        .os__menu {
            position: relative;
            z-index: 999;
            -webkit-app-region: no-drag;
            margin-right: 5px;
            align-self: flex-start;

            span {
                & + span {
                    margin-left: 1px;
                }
            }

            .icon-minimize,
            .icon-close {
                font-size: 6pt;
                transition: .5s all;
                line-height: 22px;

                &:hover {
                    transition: none;
                }
            }

            .icon-minimize {
                display: inline-block;
                width: 25px;
                height: 17px;
                text-align: center;
                vertical-align: bottom;
                font-weight: bold;
                font-size: 7pt;
                padding-top: 3px;

                &:hover {
                    background: #3665B3;
                    color: #FFF;
                }
            }

            .icon-close {
                display: inline-block;
                background: #C75050;
                color: #FFF;
                width: 45px;
                height: 20px;
                text-align: center;

                &:hover {
                    background: #E04343;
                }
            }
        }
    }

    .draggable--win {
        display: initial;
    }
}

.mac .header {
    height: $header-height;

    @include header($padding-mac, 72px, 160px);
    .nav{
        height: 100%;
    }

    .draggable--other {
        display: initial;
    }
}

.linux .header {
    height: $header-height;

    @include header($padding-mac, 72px, 160px);
    .nav{
        height: 100%;
    }

    .draggable--other {
        display: initial;
    }
}

.mac .traffic-light,
.linux .traffic-light {
    display: none;
    height: 30px;
    width: 52px;
    float: left;

    .close {
        position: relative;
        float: left;

        $size: 12px;

        height: $size;
        width: $size;
        border: solid 1px rgba(214, 46, 48, 0.15);
        border-radius: 50%;
        margin-top: (25 - $size) / 2;

        //height of the traffic buttons
        box-sizing: border-box;
        background: rgb(251, 73, 72);

        &:before {
            content: '';
            position: absolute;
            height: 1px;
            width: 8px;
            background: rgb(54, 0, 0);
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%) rotate(45deg);
            opacity: 0;
        }

        &:after {
            content: '';
            position: absolute;
            height: 1px;
            width: 8px;
            background: rgb(54, 0, 0);
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%) rotate(-45deg);
            opacity: 0;
        }
    }

    .minimize {
        @extend .close;

        position: relative;
        margin-left: 50 / 3 / 2 * 1px;
        background: rgb(253, 178, 37);
        border-color: rgba(213, 142, 27, 0.15);

        &:before {
            content: '';
            position: absolute;
            height: 1px;
            width: 8px;
            background: rgb(134, 69, 2);
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }

        &:after {
            display: none;
        }
    }

    .maximize {
        @extend .close;

        float: right;
        background: rgb(42, 200, 51);
        border-color: rgba(30, 159, 32, 0.15);

        &:before {
            width: 6px;
            height: 6px;
            background: rgb(11, 84, 1);
            transform: translateY(-50%) translateX(-50%);
            border: solid rgb(42, 200, 51) 1px;
            border-radius: 2px;
        }

        &:after {
            width: 10px;
            height: 2px;
            background: rgb(42, 200, 51);
            transform: translateY(-50%) translateX(-50%) rotate(45deg);
        }
    }

    &:hover {
        .close:before {
            opacity: 1;
        }

        .close:after {
            opacity: 1;
        }
    }

    & + .nav__item {
        margin-left: 20px;
    }
}

.mac .traffic-light {
    @extend .traffic-light;

    display: block;
}

.linux .traffic-light {
    @extend .traffic-light;

    display: block;

    .close {
        &:before {
            background: #e75c2d;
        }

        &:after {
            background: #e75c2d;
        }
    }

    .minimize {
        background: #a8a8a8;
    }

    .maximize {
        background: #a8a8a8;
    }
}