.info-label__container{
	display: flex;
	position: relative;
	
	.icon-question-mark,
	.info-title{
		margin: 30px 0 20px 0;
		
        &.experiment {
            display: inline-block;
            padding: 5px;
            border: 1px solid $color-error;
            border-radius: 4px;
        }
	}

	.icon-question-mark{
		position: absolute;
		font-size: 7pt;
		margin-left: 5px;
		top: 0;
		color: $color-text3;
		cursor: pointer;
	}

	.tip{
		margin: 30px 0;
	}
}

.tooltip_task{
	font-size: 8pt;
	cursor: pointer;
}
