/* VENDOR - Default fall-backs and external files.
========================================================================== */

/* BASE - Base Variable file along with starting point Mixins and Placeholders.
========================================================================== */

@import '_vars';
@import '_typography';
@import '_icon';

/* FRAMEWORK - Structure and layout files.
========================================================================== */

@import 'error-boundary';
@import 'header';
@import 'onboarding/index';
@import 'spot-light';
@import 'network/index';
@import 'task-panel/index';
@import 'settings/index';
@import 'concent/index';
@import 'transaction/index';
@import 'wallet/index';
@import 'search-box';
@import 'footer';
@import 'footer-main';
@import 'not-found';
@import 'loader';
@import 'dropzone';
@import 'radial-progress';
@import 'tooltip';
@import 'slider';
@import 'modal';
@import 'issue-modal';
@import 'password-modal';
@import 'dropdown';
@import 'info-label';

html {
    padding: 0;
    overflow-y: scroll;
    min-width: 460px;

    /* Smoother startup */
    animation: fadein 1s;
}

html,
body {
    margin: 0;
    color: $color-text;
    font-size: $font-size-primary;
    font-family: $font-family-primary;
    font-weight: $font-weight-primary;
    overflow: hidden;

    // -moz-font-weight: 400;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    &.modal-active {
        overflow: hidden;
    }
}

body {
    background: #fff;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
    background-color: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

a,
button,
div,
input,
li,
h1,
h2,
h3,
h4,
h5,
h6,
select,
span {
    &:hover,
    &:visited,
    &:active,
    &:focus {
        outline: 0;
    }
}

input,
button,
select {
    border-radius: 5px;
    &:disabled {
        cursor: not-allowed !important;
    }
}

a {
    text-decoration: none;
    color: $color-primary;
}

button {
    height: 40px;
    padding: 0 25px;
    border: 1px solid $button-static-color;
    font-size: 12pt;
    font-weight: bold;
    color: $button-font-color;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5px;
}

input {
    caret-color: $color-primary;
}

sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}

select {
    width: 100%;
    height: 32px;
    padding: 0 10px;
    font-size: 10pt;
    -webkit-appearance: none;
    -webkit-border-radius: 2px;
    border: 1px solid $color-border;
}

.select {
    position: relative;

    &:after {
        content: ' ';
        height: 0;
        width: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 5px solid #000;
        position: absolute;
        right: 15px;
        top: 15px;
        transition: all 0.3s linear;
        pointer-events: none;
    }
}

.btn {
    &--primary {
        background-color: $button-static-color;
        font-size: 10pt;

        &:hover {
            background-color: $button-hover-color;

            //color: rgb(0, 177, 200);
        }

        &:active {
            background-color: $button-active-color;
        }

        &:disabled {
            cursor: not-allowed;
            background-color: $button-disable-color;
            border: 1px solid $button-disable-color;
        }
    }
    &--yellow {
        background: $color-accent2;
        border: 1px solid $color-accent2;
        &:hover {
            background: darken($color-accent2, 10%);
        }
        &:active {
            background: darken($color-accent2, 15%);
        }
        &:disabled {
            cursor: not-allowed;
            background-color: $button-disable-color;
            border: 1px solid $button-disable-color;
        }
    }

    &--warning {
        background-color: $color-error;
        font-size: 10pt;
        border: 1px solid $color-error;

        &:hover {
            background-color: $color-delete-hover;
        }

        &:active {
            background-color: $color-delete-active;
        }

        &:disabled {
            cursor: not-allowed;
            background-color: $color-delete-active;
        }
    }

    &--outline {
        background-color: transparent;
        color: $button-static-color;
        font-weight: 600;
        font-size: 10pt;

        &:hover {
            color: $button-hover-color;
            border: 1px solid $button-hover-color;

            //color: rgb(0, 177, 200);
        }

        &:disabled {
            cursor: not-allowed;
            color: $button-disable-color;
            border: 1px solid $button-disable-color;

            //color: rgb(0, 177, 200);
        }
    }

    &--small {
        width: 50px;
        height: 30px;
        padding: 0 2px;
        font-size: 8pt;
    }

    &--ghost {
        @extend .btn--small;
        width: 70px;
        background-color: transparent;
        color: $button-static-color;
        border: 0;

        &:hover {
            color: $button-hover-color;
            //color: rgb(0, 177, 200);
        }

        &:disabled {
            cursor: not-allowed;
            color: $button-disable-color;
            //color: rgb(0, 177, 200);
        }
    }
}

input[type='text'],
input[type='number'],
input[type='password'] {
    background: white;
    border: 1px solid $color-border;
    height: 32px;

    &:disabled {
        background: $color-input;
    }
}

input.invalid {
    border-color: red !important;
}

input[type='number'] {
    width: 100%;
    position: relative;
    border-box: none;
    text-align: center;
}

input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: $color-bg2 url('../assets/img/number-adjust.svg') no-repeat
        center;
    background-size: auto;
    width: 1.2em;
    border-left: 1px solid $color-text3;
    box-sizing: border-box;
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    &:hover {
    }
}

.notice {
    font-size: 9pt;
    color: $color-text2;
}

.text-right {
    text-align: right;
}

.switch-box {
    margin-right: 40px;

    .switch {
        position: relative;
        display: inline-block;
        width: 34px;
        height: 20px;
        margin-bottom: -3px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        display: none;
    }

    /* The slider */
    .switch-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #888;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .switch-slider:before {
        position: absolute;
        content: '';
        height: 18px;
        width: 18px;
        margin-top: 1px;
        left: 1;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    input:checked + .switch-slider {
        background-color: #2196f3;
    }

    input:focus + .switch-slider {
        box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .switch-slider:before {
        -webkit-transform: translateX(14px);
        transform: translateX(14px);
    }

    input:disabled + .switch-slider {
        background-color: rgba($color-text3, 0.5) !important;
        cursor: not-allowed;
    }

    input:checked:disabled + .switch-slider {
        background-color: rgba(#2196f3, 0.5) !important;
    }

    /* Rounded sliders */
    .switch-slider.round {
        border-radius: 34px;
    }

    .switch-slider.round:before {
        border-radius: 50%;
    }

    .switch__desc {
        margin-left: 10px;
    }

    &--green {
        input:checked + .switch-slider {
            background-color: $color-accent1;
        }

        input:focus + .switch-slider {
            box-shadow: 0 0 1px $color-accent1;
        }

        input:checked:disabled + .switch-slider {
            background-color: rgba($color-accent1, 0.5) !important;
        }
    }
}

.radio-group,
.checkbox-group {
    width: 100%;
    color: grey;
    text-align: left;
    padding-left: 40px;
    box-sizing: border-box;
    margin-bottom: 30px;

    [class^='icon-'],
    [class*=' icon-'] {
        margin-right: 5px;
        font-size: 10pt;
        position: relative;
        top: 0.5px;
    }
    input[type='radio'],
    input[type='checkbox'] {
        display: none;
        padding: 0 20px;
        box-sizing: border-box;
    }

    /* changed style when checked */
    input[type='radio']:checked + label,
    input[type='checkbox']:checked + label  {
        color: #000;

        & > .overlay {
            background-color: $color-primary;
        }
    }

    label {
        font-size: 9pt;
        margin-left: 5px;
        font-weight: 400;
        cursor: pointer;

        .icon-question-mark {
            display: inline;
            font-size: 7pt;
            margin-left: 2px;
            top: -5px;
            color: $color-text3;
        }
    }

    .radio-item,
    .checkbox-item {
        margin: 15px 0;
        padding: 0;
    }

    /* default radio button style: unchecked */
    .overlay {
        display: inline-block;
        position: relative;
        top: 0.25em;
        height: 0.5em;
        width: 0.5em;
        border-radius: 50%;
        border: 1px solid $color-primary;
        padding: 4px;
        margin: 0 5px;
        background-clip: content-box;
        cursor: pointer;
        transition: .2s background-color;
    }

    input:disabled + label > .overlay {
        border-color: rgba($color-primary, 0.3) !important;
        background: rgba($color-border, 0.2);
    }

    .checkbox-item {
        .overlay {
            top: 0.3em;
            height: 0.4em;
            width: 0.4em;
            padding: 5px;
            border-radius: 3px;
            margin-right: 10px;
        }
    }
}

.indicator-status {
    -webkit-mask: url('../assets/img/status.svg') no-repeat 100% 100%;
    mask: url('../assets/img/status.svg') no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 20px;
    height: 20px;
    transition: background-color 0.5s;
    &--red {
        background-color: $color-error;
    }
    &--yellow {
        background-color: $color-accent2;
    }
    &--green {
        background-color: $color-accent1;
        -webkit-mask: url('../assets/img/status-stop.svg') no-repeat 100% 100%;
        mask: url('../assets/img/status-stop.svg') no-repeat 100% 100%;
    }
    &--blue {
        background-color: $button-static-color;
    }
}

.label_optional {
    color: $color-text3;
}

.progress-status {
    display: inline-block;
    font-size: 15pt;
    font-weight: 500;
    margin-right: 8px;
    vertical-align: middle;
    margin-bottom: 0.5px;
}

.tab-panel {
    @include flex;

    justify-content: space-around;
    align-self: stretch;
    height: 47px;
    border-bottom: 1px solid $color-border;

    .tab__title {
        flex: 0 0 12%;
        font-weight: 500;
        font-size: 11pt;
        line-height: 1.3em;
        color: $color-text3;
        cursor: pointer;
        transition: 0.5s all;

        &.active {
            color: $color-text;
        }
    }
}

.tab__content {
    top: 47.5px;
    width: 100%;
    min-height: 0;
    flex: 1 1 calc(100% - 830px);
    overflow: hidden;
    transform: translateZ(0);
}

.tippy-popper {
    max-width: 510px !important;
}

.bumper {
    &:before{
        content: "|";
        margin: 0 6px;
    }
}

.jumping-dots {
    span {
        position: relative;
        bottom: 0px;
        -webkit-animation: jump 1500ms infinite;
        animation: jump 2s infinite;
    }

    .dot-1 {
        -webkit-animation-delay: 200ms;
        animation-delay: 200ms;
    }

    .dot-2 {
        -webkit-animation-delay: 400ms;
        animation-delay: 400ms;
    }

    .dot-3 {
        -webkit-animation-delay: 600ms;
        animation-delay: 600ms;
    }
}

@-webkit-keyframes jump {
    0% {
        bottom: 0px;
    }

    20% {
        bottom: 5px;
    }

    40% {
        bottom: 0px;
    }
}

@keyframes jump {
    0% {
        bottom: 0px;
    }

    20% {
        bottom: 5px;
    }

    40% {
        bottom: 0px;
    }
}

/* Animation for transitions
============================= */

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*      OS DIFFERENCES
============================= */

@mixin section__padding($padding) {
    padding: 0 $padding;
}

.win {
    body {
        border: 1px solid $color-border;
    }

    .content__main,
    .content__task-panel,
    .container__frame,
    .content__new-task,
    .content__task-detail,
    .content__settings {
        padding-top: $header-height-windows;
    }

    .section__wallet,
    .content__resources,
    .section__actions,
    .item__history,
    .content__advanced,
    .tab-panel,
    .section__personal,
    .content__performance,
    .content__price,
    .content__concent,
    .content__trust,
    .content__file-location,
    .content__geth,
    .content__peers,
    .content__stats,
    .content__new-task label,
    .content__new-task input,
    .container-radio__new-task,
    .container-action__new-task,
    .panel-preview__task-detail,
    .section-settings__task-detail,
    .section-task__task-detail,
    .section-node-list__task-detail,
    .section-concent__task-detail,
    .title-price__task-detail,
    .item-price,
    .section-action__task-detail {
        @include section__padding($padding-windows);
    }
}

.mac {
    .content__main,
    .content__task-panel,
    .container__frame,
    .content__new-task,
    .content__task-detail,
    .content__settings {
        padding-top: $header-height-mac;
    }

    .section__wallet,
    .content__resources,
    .section__actions,
    .item__history,
    .content__advanced,
    .tab-panel,
    .section__personal,
    .content__performance,
    .content__price,
    .content__concent,
    .content__trust,
    .content__file-location,
    .content__geth,
    .content__peers,
    .content__stats,
    .content__new-task label,
    .content__new-task input,
    .container-radio__new-task,
    .container-action__new-task,
    .panel-preview__task-detail,
    .section-settings__task-detail,
    .section-task__task-detail,
    .section-node-list__task-detail,
    .section-concent__task-detail,
    .title-price__task-detail,
    .item-price,
    .section-action__task-detail {
        @include section__padding($padding-mac);
    }
}

.linux {
    .content__main,
    .content__task-panel,
    .container__frame,
    .content__new-task,
    .content__task-detail,
    .content__settings {
        padding-top: $header-height-linux;
    }

    .section__wallet,
    .content__resources,
    .section__actions,
    .item__history,
    .content__advanced,
    .tab-panel,
    .section__personal,
    .content__performance,
    .content__price,
    .content__concent,
    .content__trust,
    .content__file-location,
    .content__geth,
    .content__peers,
    .content__stats,
    .content__new-task label,
    .content__new-task input,
    .container-radio__new-task,
    .container-action__new-task,
    .panel-preview__task-detail,
    .section-settings__task-detail,
    .section-task__task-detail,
    .section-node-list__task-detail,
    .section-concent__task-detail,
    .title-price__task-detail,
    .item-price,
    .section-action__task-detail {
        @include section__padding($padding-linux);
    }
}
