/* VENDOR - Default fall-backs and external files.
========================================================================== */

/* BASE - Base Variable file along with starting point Mixins and Placeholders.
========================================================================== */

@import "_vars";
@import "_typography";
@import "_icon";

/* FRAMEWORK - Structure and layout files.
========================================================================== */

@import "header";
@import "onboarding/index";
@import "spot-light";
@import "network/index";
@import "task-panel/index";
@import "settings/index";
@import "transaction/index";
@import "wallet/index";
@import "search-box";
@import "footer";
@import "footer-main";
@import "not-found";
@import "loader";
@import "dropzone";
@import "radial-progress";
@import "tooltip";
@import "slider";
@import "modal";
@import "issue-modal";
@import "password-modal";
@import "dropdown";
@import "info-label";

html {
    padding: 0;
    overflow-y: scroll;
    min-width: 460px;

    /* Smoother startup */
    animation: fadein 1s;
}

html,
body {
    margin: 0;
    color: $color-text;
    font-size: $font-size-primary;
    font-family: $font-family-primary;
    font-weight: $font-weight-primary;
    overflow: hidden;

    // -moz-font-weight: 400;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    &.modal-active {
        overflow: hidden;
    }
}

// ::-webkit-scrollbar {
//     width: 5px;
// }
// ::-webkit-scrollbar-track {
//     background: transparent;
// }
// ::-webkit-scrollbar-thumb {
//     background: #666;
//     -webkit-border-radius: 20px
// }
a,
button,
div,
input,
li,
h1,
h2,
h3,
h4,
h5,
h6,
select,
span {
    &:hover,
    &:visited,
    &:active,
    &:focus {
        outline: 0;
    }
}

input,
button,
select {
    &:disabled {
        cursor: not-allowed !important;
    }
}

a {
    text-decoration: none;
    color: $color-primary;
}

button {
    height: 40px;
    padding: 0 25px;
    border-radius: 5px;
    border: 1px solid $button-static-color;
    font-size: 12pt;
    font-weight: bold;
    color: $button-font-color;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5px;
}

sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}

select {
    width: 100%;
    height: 32px;
    padding: 0 10px;
    font-size: 10pt;
    -webkit-appearance: none;
    -webkit-border-radius: 2px;
    border: 1px solid $color-border;
}

.select {
    position: relative;

    &:after {
        content: " ";
        height: 0;
        width: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 5px solid #000;
        position: absolute;
        right: 15px;
        top: 15px;
        transition: all 0.3s linear;
        pointer-events: none;
    }
}

.btn {
    &--primary {
        background-color: $button-static-color;
        font-size: 10pt;

        &:hover {
            background-color: $button-hover-color;

            //color: rgb(0, 177, 200);
        }

        &:active {
            background-color: $button-active-color;
        }

        &:disabled {
            cursor: not-allowed;
            background-color: $button-disable-color;
            border: 1px solid $button-disable-color;
        }
    }
    &--yellow {
        background: $color-accent2;
        border: 1px solid $color-accent2;
        &:hover {
            background: darken($color-accent2, 10%);
        }
        &:active {
            background: darken($color-accent2, 15%);
        }
        &:disabled {
            cursor: not-allowed;
            background-color: $button-disable-color;
            border: 1px solid $button-disable-color;
        }
    }

    &--warning {
        background-color: $color-error;
        font-size: 10pt;
        border: 1px solid $color-error;

        &:hover {
            background-color: $color-delete-hover;
        }

        &:active {
            background-color: $color-delete-active;
        }

        &:disabled {
            cursor: not-allowed;
            background-color: $color-delete-active;
        }
    }

    &--outline {
        background-color: transparent;
        color: $button-static-color;
        border-radius: 2px;
        font-weight: 600;
        font-size: 10pt;

        &:hover {
            color: $button-hover-color;
            border: 1px solid $button-hover-color;

            //color: rgb(0, 177, 200);
        }

        &:disabled {
            cursor: not-allowed;
            color: $button-disable-color;
            border: 1px solid $button-disable-color;

            //color: rgb(0, 177, 200);
        }
    }

    &--small {
        width: 50px;
        height: 30px;
        padding: 0 2px;
        font-size: 8pt;
    }

    &--ghost {
        @extend .btn--small;
        width: 70px;
        background-color: transparent;
        color: $button-static-color;
        border: 0;

        &:hover {
            color: $button-hover-color;
            //color: rgb(0, 177, 200);
        }

        &:disabled {
            cursor: not-allowed;
            color: $button-disable-color;
            //color: rgb(0, 177, 200);
        }
    }
}

input[type="text"],
input[type="number"],
input[type="password"] {
    background: white;
    border: 1px solid $color-border;
    height: 32px;

    &:disabled {
        background: $color-input;
    }
}

input.invalid {
    border-color: red !important;
}

input[type="number"] {
    width: 100%;
    position: relative;
    border-box: none;
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: $color-bg2 url("../assets/img/number-adjust.svg") no-repeat center;
    background-size: auto;
    width: 1.2em;
    border-left: 1px solid $color-text3;
    box-sizing: border-box;
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    &:hover {
    }
}

.notice {
    font-size: 9pt;
    color: $color-text2;
}

.text-right {
    text-align: right;
}

.switch-box {
    margin-right: 40px;

    .switch {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 17px;
        margin-bottom: -3px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        display: none;
    }

    /* The slider */
    .switch-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .switch-slider:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        margin-top: 1px;
        left: 1;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    input:checked + .switch-slider {
        background-color: #2196f3;
    }

    input:focus + .switch-slider {
        box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .switch-slider:before {
        -webkit-transform: translateX(13px);
        transform: translateX(13px);
    }

    input:disabled + .switch-slider {
        background-color: $color-text3 !important;
        cursor: not-allowed;
    }

    /* Rounded sliders */
    .switch-slider.round {
        border-radius: 34px;
    }

    .switch-slider.round:before {
        border-radius: 50%;
    }

    .switch__desc {
        margin-left: 10px;
    }

    &--green {
        input:checked + .switch-slider {
            background-color: $color-accent1;
        }

        input:focus + .switch-slider {
            box-shadow: 0 0 1px $color-accent1;
        }
    }
}

.checkbox-item,
.radio-item {
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-text4;
    padding: 10px;

    input[type="checkbox"],
    input[type="radio"] {
        position: absolute;
        opacity: 0;

        + .radio-label-left,
        + .radio-label-right {
            position: relative;
            margin: 0 !important;
            padding: 0 10px !important;
            color: $color-text2;
            line-height: 1.6em;
        }
        
        + .checkbox-label-left,
        + .radio-label-left {
            &:before {
                content: "\E91C";
                background: $color-text4;
                border-radius: 100%;
                display: inline-block;
                position: relative;
                top: 0.2em;
                margin-right: 1em;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                transition: all 250ms ease;
                font-family: "gcon" !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;

                /* Better Font Rendering =========== */
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 14pt;
            }
        }
        
        + .checkbox-label-right,
        + .radio-label-right {
            &:after {
                content: "\E91C";
                background: $color-text4;
                border-radius: 100%;
                display: inline-block;
                position: relative;
                top: 0.2em;
                margin-left: 1em;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                transition: all 250ms ease;
                font-family: "gcon" !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;

                /* Better Font Rendering =========== */
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 14pt;
            }
        }

        &:checked {
            + .checkbox-label-left,
            + .radio-label-left {
                &:before {
                    color: $color-accent1;
                }
            }
            
            + .checkbox-label-right,
            + .radio-label-right {
                &:after {
                    color: $color-accent1;
                }
            }
        }

        &:focus {
            + .checkbox-label-left,
            + .radio-label-left {
                &:before {
                    outline: none;
                    border-color: $color-text3;
                }
            }
            
            + .checkbox-label-right,
            + .radio-label-right {
                &:after {
                    outline: none;
                    border-color: $color-text3;
                }
            }
        }

        &:disabled {
            + .checkbox-label-left,
            + .radio-label-left {
                &:before {
                    box-shadow: inset 0 0 0 4px $color-text2;
                    border-color: darken($color-text2, 25%);
                    background: darken($color-text2, 25%);
                    cursor: not-allowed;
                }
            }
            
            + .checkbox-label-right,
            + .radio-label-right {
                &:after {
                    box-shadow: inset 0 0 0 4px $color-text2;
                    border-color: darken($color-text2, 25%);
                    background: darken($color-text2, 25%);
                    cursor: not-allowed;
                }
            }
        }
        
        + .checkbox-label-left,
        + .radio-label-left {
            &:empty {
                &:before {
                    margin-right: 0;
                }
            }
        }
        
        + .checkbox-label-right,
        + .radio-label-right {
            &:empty {
                &:after {
                    margin-right: 0;
                }
            }
        }
    }
}

.indicator-status {
    -webkit-mask: url("../assets/img/status.svg") no-repeat 100% 100%;
    mask: url("../assets/img/status.svg") no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 20px;
    height: 20px;
    transition: background-color 0.5s;
    &--red {
        background-color: $color-error;
    }
    &--yellow {
        background-color: $color-accent2;
    }
    &--green {
        background-color: $color-accent1;
        -webkit-mask: url("../assets/img/status-stop.svg") no-repeat 100% 100%;
        mask: url("../assets/img/status-stop.svg") no-repeat 100% 100%;
    }
    &--blue {
        background-color: $button-static-color;
    }
}

.label_optional {
    color: $color-text3;
}

.progress-status {
    display: inline-block;
    font-size: 15pt;
    font-weight: 500;
    margin-right: 8px;
    vertical-align: middle;
    margin-bottom: 0.5px;
}

.tab-panel {
    @include flex;

    justify-content: space-around;
    align-self: stretch;
    height: 47px;
    border-bottom: 1px solid $color-border;

    .tab__title {
        flex: 0 0 18%;
        font-weight: 500;
        font-size: 11pt;
        line-height: 1.3em;
        color: $color-text3;
        cursor: pointer;
        transition: 0.5s all;

        &.active {
            color: $color-text;
        }
    }
}

.tab__content {
    top: 47.5px;
    width: 100%;
    min-height: 0;
    flex: 1 1 calc(100% - 830px);
    overflow: hidden;
    transform: translateZ(0);
}

.tippy-popper {
    max-width: 510px !important;
}

.jumping-dots {
    span {
        position: relative;
        bottom: 0px;
        -webkit-animation: jump 1500ms infinite;
        animation: jump 2s infinite;
    }

    .dot-1 {
        -webkit-animation-delay: 200ms;
        animation-delay: 200ms;
    }

    .dot-2 {
        -webkit-animation-delay: 400ms;
        animation-delay: 400ms;
    }

    .dot-3 {
        -webkit-animation-delay: 600ms;
        animation-delay: 600ms;
    }
}

@-webkit-keyframes jump {
    0% {
        bottom: 0px;
    }

    20% {
        bottom: 5px;
    }

    40% {
        bottom: 0px;
    }
}

@keyframes jump {
    0% {
        bottom: 0px;
    }

    20% {
        bottom: 5px;
    }

    40% {
        bottom: 0px;
    }
}

/* Animation for transitions
============================= */

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*      OS DIFFERENCES
============================= */

@mixin section__padding($padding) {
    padding: 0 $padding;
}

.win {
    body {
        border: 1px solid $color-border;
    }

    .content__main,
    .content__task-panel,
    .container__frame,
    .content__new-task,
    .content__task-detail,
    .content__settings {
        padding-top: $header-height-windows;
    }

    .section__wallet,
    .content__resources,
    .section__actions,
    .item__history,
    .content__advanced,
    .tab-panel,
    .section__personal,
    .content__performance,
    .content__price,
    .content__trust,
    .content__file-location,
    .content__geth,
    .content__peers,
    .content__stats,
    .content__new-task label,
    .content__new-task input,
    .container-radio__new-task,
    .container-action__new-task,
    .panel-preview__task-detail,
    .section-settings__task-detail,
    .section-task__task-detail,
    .section-node-list__task-detail,
    .section-concent__task-detail,
    .title-price__task-detail,
    .item-price,
    .section-action__task-detail {
        @include section__padding($padding-windows);
    }
}

.mac {
    .content__main,
    .content__task-panel,
    .container__frame,
    .content__new-task,
    .content__task-detail,
    .content__settings {
        padding-top: $header-height-mac;
    }

    .section__wallet,
    .content__resources,
    .section__actions,
    .item__history,
    .content__advanced,
    .tab-panel,
    .section__personal,
    .content__performance,
    .content__price,
    .content__trust,
    .content__file-location,
    .content__geth,
    .content__peers,
    .content__stats,
    .content__new-task label,
    .content__new-task input,
    .container-radio__new-task,
    .container-action__new-task,
    .panel-preview__task-detail,
    .section-settings__task-detail,
    .section-task__task-detail,
    .section-node-list__task-detail,
    .section-concent__task-detail,
    .title-price__task-detail,
    .item-price,
    .section-action__task-detail {
        @include section__padding($padding-mac);
    }
}

.linux {
    .content__main,
    .content__task-panel,
    .container__frame,
    .content__new-task,
    .content__task-detail,
    .content__settings {
        padding-top: $header-height-linux;
    }

    .section__wallet,
    .content__resources,
    .section__actions,
    .item__history,
    .content__advanced,
    .tab-panel,
    .section__personal,
    .content__performance,
    .content__price,
    .content__trust,
    .content__file-location,
    .content__geth,
    .content__peers,
    .content__stats,
    .content__new-task label,
    .content__new-task input,
    .container-radio__new-task,
    .container-action__new-task,
    .panel-preview__task-detail,
    .section-settings__task-detail,
    .section-task__task-detail,
    .section-node-list__task-detail,
    .section-concent__task-detail,
    .title-price__task-detail,
    .item-price,
    .section-action__task-detail {
        @include section__padding($padding-linux);
    }
}
