.container__modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
    opacity: 0;
    animation: .2s ease-out 0s 1 fade;
    animation-fill-mode: forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content__modal {
    display: flex;
    position: relative;
    z-index: 4;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: $color-text4;
    width: 100%;
    margin: 0 70px;
    border-radius: 4px;
    animation: .2s ease-in-out 0s 1 zoomIn;
    animation-fill-mode: forwards;
    .btn--cancel {
        cursor: pointer;
    }
}

@keyframes zoomIn {
  0% {
    transform: perspective(500px) translateZ(-300px);
  }
  100% {
    transform: perspective(500px) translateZ(0px);
  }
}

.action__modal {
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}
