.container__password-modal {
    z-index: 9 !important;
    .content__modal {
        text-align: center;
        justify-content: space-around;
        padding: 20px;

        strong,
        hint{
          line-height: 1.6em;
        }

        strong{
          font-size:14pt
        }

        form{
          position: relative;
          width: 100%;

          label{
            display:inline-block;
            font-size: 12pt;
            margin-bottom: 10px;
          }

          input{
            display: block;
            width:100%;
            padding: 0 10px;
            font-size: 18px;
          }

          .icon-eye{
            position: absolute;
            right: 10px;
            bottom: 66px;
            font-size: 16pt;
            z-index: 4;
            cursor: pointer;
          }

          .container__field{
            margin: 20px 0;
          }

          .error-info{
            position: absolute;
            right: 0;
            color: $color-error;
            font-size: 8pt;
          }
        }
        .ReactPasswordStrength{
          border: 0 !important
        }
        .passwordField{
            height: 32px;
            input{
                background-color: $color-input;
                height: 30px;
            }
            .ReactPasswordStrength-strength-desc{
                width: 150px;
                top:20px;
                font-size: 9pt;
                text-align: right;
                padding-right: 0;
                font-style: normal;

            }

            .ReactPasswordStrength-strength-bar{
                top: -1
            }
        }

        .password_confirmed{
            border-bottom: 2px solid $color-accent1;
        }

        .password_not_confirmed{
            border-bottom: 2px solid $color-error;
        }

        .container-icon {
            width: calc(100% + 40px);
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: -20px -20px 20px -20px;
            background: $color-bg2;
        }

        .icon-locked {
            display: inline-block;
            color: $color-text;
            background: #E3EBEF;
            font-size: 5em;
            width: 1em;
            height: 1em;
            line-height: 0.9em;
            padding: 0.2em;
            text-align: center;
            border-radius: 50%; /* or 50% width & line-height */
        }
    }
}

.modal-error{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}