#radialSvg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    circle {
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 1s linear, stroke .5s;
        stroke: #EFF1F2;
        stroke-width: 0.15em;
    }
    #bar {
        transform: rotate(-90deg);
        transform-origin: 50%;
        stroke: #37C481;
        stroke-width: 0.25em;
        stroke-linecap: round;
    }
}

.radial-options {
    width: 110px;
    .radial-progress-bar {
        margin: 35px 0;
    }
}

.radial-progress-bar {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    &:after {
        content: attr(data-title);
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        top: 50%;
        margin-top: -82px;
        text-align: center;
        border-radius: 100%;
        line-height: 160px;
        font-size: .8em;
        font-weight: 500;
    }
    &:hover:after {
        content: attr(data-unit);
    }
}
