.slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    .slider__input{
        @include flex;
        flex: 1 1 auto;
        position: relative;
        box-sizing: border-box;
    }
    .slider__resources {
        flex-grow: 1;
        height: 2px;
        margin: 10px 12px 0 12px;
        background: #37C481; //GRADIENT TRANSITION HACK
        background-image: -webkit-gradient( linear, left top, right top, color-stop(0.2, transparent), color-stop(0.2, $color-accent3));
        transition: .5s background;
        &:focus {
            outline: none;
        }
    }
    /*Chrome*/
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        .slider__resources {
            -webkit-appearance: none;
            margin: 10px 0;
            width: 100%;
            position: relative;
            &:focus {
                outline: none;
            }
            &::-webkit-slider-runnable-track {
                width: 100%;
                height: 2px;
                animate: 0.2s;
                box-shadow: 0px 0px 0px #000000;
                border-radius: 0px;
            }
            &::-webkit-slider-thumb {
                box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.37);
                border: 0px solid #000000;
                height: 32px;
                width: 32px;
                border-radius: 50px;
                background: #FFFFFF;
                -webkit-appearance: none;
                margin-top: -16px;
            }
        }
    }
    .slider-indicator__resources {
        position: absolute;
        color: #CBCBCB;
        width: 20px;
        text-align: center;
        font-size: 8pt;
        font-weight: 500;
        margin-top: -1px;
        transition: .5s color;
        pointer-events: none; // to click underlying element 
    }

    .slider-icon {
        display: none;
        width: 25px;
    }

    .slider-icon {
        margin-right: 7.5px;
    }

    .slider__input ~ .slider-icon {
        margin-left: 7.5px;
        margin-right: 0;
    }

    .slider-text--left,
    .slider-text--right{
        font-size: 10pt;
        font-weight: 400;
        width: 45px;
    }

    .slider-text--left{
        text-align: center;
        margin-right: 7.5px;
    }
    .slider-text--right{
        text-align: right;
        margin-left: 7.5px;
    }

    [class^="icon-"],
    [class*=" icon-"] {
        display: block;
    }
}

.slider > span {
    font-size: 16pt;
}
