$color_1: #333333;
$background_color_1: rgba(0, 0, 0, 0.12);
$background_color_2: #ffffff;
$border_color_1: transparent;
$border_top_color_1: rgba(0, 0, 0, 0.12);
$border_top_color_2: #ffffff;
$border_right_color_1: rgba(0, 0, 0, 0.12);
$border_right_color_2: #ffffff;
$border_bottom_color_1: rgba(0, 0, 0, 0.2);
$border_bottom_color_2: #ffffff;
$border_left_color_1: rgba(0, 0, 0, 0.12);
$border_left_color_2: #ffffff;


$color_2: #fff  !important;
$background_color_3: rgba(255, 255, 255, 0.12) !important;
$background_color_4: #000 !important;
$border_top_color_3: rgba(255, 255, 255, 0.12) !important;
$border_top_color_4: #000 !important;
$border_right_color_3: rgba(255, 255, 255, 0.12) !important;
$border_right_color_4: #000 !important;
$border_bottom_color_3: rgba(255, 255, 255, 0.12) !important;
$border_bottom_color_4: #000 !important;
$border_left_color_3: rgba(255, 255, 255, 0.12) !important;
$border_left_color_4: #000 !important;


.rc-tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    line-height: 1.5;
    font-size: 14px;
    line-height: 2px;
    font-weight: 400;
    background-color: $background_color_1;
    padding: 1px;
    &:not(.rc-tooltip-hidden) {
        opacity: 1;
    }
}

.rc-tooltip-hidden {
    display: none;
}

.rc-tooltip-inner {
    padding: 0 10px;
    color: $color_1;
    text-align: left;
    text-decoration: none;
    background-color: $background_color_2;
    border-radius: 3px;
    min-height: 14px;
    border: 1px solid #fff;
}

.rc-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: $border_color_1;
    border-style: solid;
    z-index: 999;
}

.rc-tooltip-arrow-inner {
    position: absolute;
    width: 0;
    height: 0;
    border-color: $border_color_1;
    border-style: solid;
    z-index: 99;
}

.rc-tooltip-placement-top {
    .rc-tooltip-arrow {
        bottom: -5px;
        margin-left: -6px;
        border-width: 6px 6px 0;
        border-top-color: $border_top_color_1;
        left: 50%;
    }
    .rc-tooltip-arrow-inner {
        bottom: 1px;
        margin-left: -6px;
        border-width: 6px 6px 0;
        border-top-color: $border_top_color_2;
    }
}

.rc-tooltip-placement-topLeft {
    .rc-tooltip-arrow {
        bottom: -5px;
        margin-left: -6px;
        border-width: 6px 6px 0;
        border-top-color: $border_top_color_1;
        left: 15%;
    }
    .rc-tooltip-arrow-inner {
        bottom: 1px;
        margin-left: -6px;
        border-width: 6px 6px 0;
        border-top-color: $border_top_color_2;
    }
}

.rc-tooltip-placement-topRight {
    .rc-tooltip-arrow {
        bottom: -5px;
        margin-left: -6px;
        border-width: 6px 6px 0;
        border-top-color: $border_top_color_1;
        right: 15%;
    }
    .rc-tooltip-arrow-inner {
        bottom: 1px;
        margin-left: -6px;
        border-width: 6px 6px 0;
        border-top-color: $border_top_color_2;
    }
}

.rc-tooltip-placement-right {
    .rc-tooltip-arrow {
        left: -5px;
        margin-top: -6px;
        border-width: 6px 6px 6px 0;
        border-right-color: $border_right_color_1;
        top: 50%;
    }
    .rc-tooltip-arrow-inner {
        left: 1px;
        margin-top: -6px;
        border-width: 6px 6px 6px 0;
        border-right-color: $border_right_color_2;
    }
}

.rc-tooltip-placement-rightTop {
    .rc-tooltip-arrow {
        left: -5px;
        margin-top: -6px;
        border-width: 6px 6px 6px 0;
        border-right-color: $border_right_color_1;
        top: 15%;
        margin-top: 0;
    }
    .rc-tooltip-arrow-inner {
        left: 1px;
        margin-top: -6px;
        border-width: 6px 6px 6px 0;
        border-right-color: $border_right_color_2;
    }
}

.rc-tooltip-placement-rightBottom {
    .rc-tooltip-arrow {
        left: -5px;
        margin-top: -6px;
        border-width: 6px 6px 6px 0;
        border-right-color: $border_right_color_1;
        bottom: 15%;
    }
    .rc-tooltip-arrow-inner {
        left: 1px;
        margin-top: -6px;
        border-width: 6px 6px 6px 0;
        border-right-color: $border_right_color_2;
    }
}

.rc-tooltip-placement-left {
    .rc-tooltip-arrow {
        right: -5px;
        margin-top: -6px;
        border-width: 6px 0 6px 6px;
        border-left-color: $border_left_color_1;
        top: 50%;
    }
    .rc-tooltip-arrow-inner {
        right: 1px;
        margin-top: -6px;
        border-width: 6px 0 6px 6px;
        border-left-color: $border_left_color_2;
    }
}

.rc-tooltip-placement-leftTop {
    .rc-tooltip-arrow {
        right: -5px;
        margin-top: -6px;
        border-width: 6px 0 6px 6px;
        border-left-color: $border_left_color_1;
        top: 15%;
        margin-top: 0;
    }
    .rc-tooltip-arrow-inner {
        right: 1px;
        margin-top: -6px;
        border-width: 6px 0 6px 6px;
        border-left-color: $border_left_color_2;
    }
}

.rc-tooltip-placement-leftBottom {
    .rc-tooltip-arrow {
        right: -5px;
        margin-top: -6px;
        border-width: 6px 0 6px 6px;
        border-left-color: $border_left_color_1;
        bottom: 15%;
    }
    .rc-tooltip-arrow-inner {
        right: 1px;
        margin-top: -6px;
        border-width: 6px 0 6px 6px;
        border-left-color: $border_left_color_2;
    }
}

.rc-tooltip-placement-bottom {
    .rc-tooltip-arrow {
        top: -7px;
        margin-left: -6px;
        border-width: 0 5px 8px;
        border-bottom-color: $border_bottom_color_1;
        left: 50%;
    }
    .rc-tooltip-arrow-inner {
        top: 1px;
        margin-left: -5px;
        border-width: 0 5px 8px;
        border-bottom-color: $border_bottom_color_2;
    }
}

.rc-tooltip-placement-bottomLeft {
    .rc-tooltip-arrow {
        top: -5px;
        margin-left: -6px;
        border-width: 0 6px 6px;
        border-bottom-color: $border_bottom_color_1;
        left: 15%;
    }
    .rc-tooltip-arrow-inner {
        top: 1px;
        margin-left: -6px;
        border-width: 0 6px 6px;
        border-bottom-color: $border_bottom_color_2;
    }
}

.rc-tooltip-placement-bottomRight {
    .rc-tooltip-arrow {
        top: -7px;
        margin-left: -6px;
        border-width: 0 5px 8px;
        border-bottom-color: $border_bottom_color_1;
        right: 8%;
    }
    .rc-tooltip-arrow-inner {
        top: 1px;
        margin-left: -5px;
        border-width: 0 5px 8px;
        border-bottom-color: $border_bottom_color_2;
    }
}

.black{
    
    background-color: $background_color_3;

    .rc-tooltip-inner {
        color: $color_2;
        background-color: $background_color_4;
        border: 1px solid #999;
    }

    .rc-tooltip-arrow {
        border-color: $border_color_1;
        border-style: solid;
    }

    .rc-tooltip-arrow-inner {
        border-color: $border_color_1;
        border-style: solid;
    }

    &.rc-tooltip-placement-top {
        .rc-tooltip-arrow {
            border-top-color: $border_top_color_3;
        }
        .rc-tooltip-arrow-inner {
            border-top-color: $border_top_color_4;
        }
    }

    &.rc-tooltip-placement-topLeft {
        .rc-tooltip-arrow {
            border-top-color: $border_top_color_3;
        }
        .rc-tooltip-arrow-inner {
            border-top-color: $border_top_color_4;
        }
    }

    &.rc-tooltip-placement-topRight {
        .rc-tooltip-arrow {
            border-top-color: $border_top_color_3;
        }
        .rc-tooltip-arrow-inner {
            border-top-color: $border_top_color_4;
        }
    }

    &.rc-tooltip-placement-right {
        .rc-tooltip-arrow {
            border-right-color: $border_right_color_3;
        }
        .rc-tooltip-arrow-inner {
            border-right-color: $border_right_color_4;
        }
    }

    &.rc-tooltip-placement-rightTop {
        .rc-tooltip-arrow {
            border-right-color: $border_right_color_3;
        }
        .rc-tooltip-arrow-inner {
            border-right-color: $border_right_color_4;
        }
    }

    &.rc-tooltip-placement-rightBottom {
        .rc-tooltip-arrow {
            border-right-color: $border_right_color_3;
        }
        .rc-tooltip-arrow-inner {
            border-right-color: $border_right_color_4;
        }
    }

    &.rc-tooltip-placement-left {
        .rc-tooltip-arrow {
            border-left-color: $border_left_color_3;
        }
        .rc-tooltip-arrow-inner {
            border-left-color: $border_left_color_4;
        }
    }

    &.rc-tooltip-placement-leftTop {
        .rc-tooltip-arrow {
            border-left-color: $border_left_color_3;
        }
        .rc-tooltip-arrow-inner {
            border-left-color: $border_left_color_4;
        }
    }

    &.rc-tooltip-placement-leftBottom {
        .rc-tooltip-arrow {
            border-left-color: $border_left_color_3;
        }
        .rc-tooltip-arrow-inner {
            border-left-color: $border_left_color_4;
        }
    }

    &.rc-tooltip-placement-bottom {
        .rc-tooltip-arrow {
            border-bottom-color: $border_bottom_color_3;
        }
        .rc-tooltip-arrow-inner {
            border-bottom-color: $border_bottom_color_4;
        }
    }

    &.rc-tooltip-placement-bottomLeft {
        .rc-tooltip-arrow {
            border-bottom-color: $border_bottom_color_3;
        }
        .rc-tooltip-arrow-inner {
            border-bottom-color: $border_bottom_color_4;
        }
    }

    &.rc-tooltip-placement-bottomRight {
        .rc-tooltip-arrow {
            border-bottom-color: $border_bottom_color_3;
        }
        .rc-tooltip-arrow-inner {
            border-bottom-color: $border_bottom_color_4;
        }
    }
}

.rc-tooltip {
    &.rc-tooltip-zoom-enter,
    &.rc-tooltip-zoom-leave {
        display: block;
    }
}


.rc-tooltip-zoom-enter,
.rc-tooltip-zoom-appear {
    opacity: 0;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    animation-play-state: paused;
}

.rc-tooltip-zoom-leave {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
    animation-play-state: paused;
}

.rc-tooltip-zoom-enter.rc-tooltip-zoom-enter-active,
.rc-tooltip-zoom-appear.rc-tooltip-zoom-appear-active {
    animation-name: rcToolTipZoomIn;
    animation-play-state: running;
}

.rc-tooltip-zoom-leave.rc-tooltip-zoom-leave-active {
    animation-name: rcToolTipZoomOut;
    animation-play-state: running;
}

@keyframes rcToolTipZoomIn {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(0, 0);
    }
    100% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
    }
}

@keyframes rcToolTipZoomOut {
    0% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
    }
    100% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(0, 0);
    }
}
